.body{
    width: 21cm;
    height: 29.7cm;
    margin: 20mm 35mm 20mm 35mm; 
    /* change the margins as you want them to be. */
} 
// table, th, td {
//     border: 1px solid black;
//     border-collapse: collapse;
//   }
//   th, td {
//     padding: 15px;
//     text-align: left;
//   }
  