<nav class="navbar navbar-dark fixed-top bg-orange flex-md-nowrap p-0 shadow navbar-default" style="height: 55px;">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="javascript:void(0)">
    <img src="assets/icons/newLogo.jpg" width="150" height="55">
  </a>
  <a class="text-left mt-3" style="    color: cornsilk;
  position: absolute;
  font-weight: 600;
  left: 14%;
  top: 0%;
  font-size: 17px;">
     Version{{appVersion}}
  </a>
  <a class="text-left mt-3" style="color: cornsilk;  font-weight: 600;position: absolute;
  left: 24%;top: 0%">
    DRAW Date.{{today | date:'MMM d, y'}}
  </a>
 
 
  <a class="text-left mt-3" style="color: cornsilk; font-weight: 600;
  margin-bottom: 13px;position: absolute;top: -34%;
    left: 41%;">
    Time To DRAW. <b style="font-size: 32px; ">{{minutes}} : {{second}}</b>
  </a>

  <a class="text-left mt-3"
    style="color: cornsilk;  font-style: inherit;    position: absolute;
    font-weight: 600;top: -5%;
    left: 59%; font-weight: 600;">
    DRAW Time.{{drawTimeAm}} </a>
  <a class="text-left mt-1"
    style="color: cornsilk;  font-style: inherit;    position: absolute;
    font-weight: 600;
    left: 75%; font-weight: 600;">
    Current Time.{{today | date:'hh:mm a'}} <br>
    {{firstName }}{{lastName}} ( {{retailerID}} )</a> <br>

  <a style=" font-style: inherit;margin-left: 30px; font-weight: 600;">
    <button class=" btn-danger" style="left: 90%;width:auto;position: absolute;top: 7%;font-size: 12px;
    height: 30px;border-radius: 4px;" (click)="refresh()">Refresh(Ctrl+R)</button>

  </a>

  <!-- <ul class="nav px-3 flex-nowrap align-items-center">
    <li class="nav-item text-nowrap mr-3 dropdown">
      <a style="color: cornsilk;">{{lastName}}</a>
    </li>
    <li>
      <select class="select" (change)="navigateTo($event.target.value)">
        <option value="d"></option>
        <option value="a">Profile</option>
        <option value="b">Setting</option>
        <option value="c">LogOut</option>
      </select>
    </li>
  </ul> -->
</nav>