<main class="col-md-9 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
    <div class="row border-bottom">
      <div class="col-md-4">
  
        <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Advertisement
        </b></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Header Banner
          </b></h3>
        </div>
        <div class="upload-profile position-relative d-inline-block mb-4">
          <input type="file" class="form-control position-absolute"
                 ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg">
          <img src="{{imageUrl}}" id="profileImage-logo" width="150" height="150">
          <i class="fa fa-camera"></i>
        </div>
        <div class="col-md-4">
          <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Footer Banner
          </b></h3>
        </div>
        <div class="upload-profile position-relative d-inline-block mb-4" >
          <input type="file" class="form-control position-absolute"
          ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg">
          <img src="{{imageUrl}}" id="profileImage-logo" width="150" height="150">
          <i class="fa fa-camera"></i>
        </div>
     
      </div>
   
      <div class="row">
        <div class="col-md-4">
          <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Left Banner
          </b></h3>
        </div>
        <div class="upload-profile position-relative d-inline-block mb-4" >
          <input type="file" class="form-control position-absolute"
          ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg">
          <img src="{{imageUrl}}" id="profileImage-logo" width="150" height="150">
          <i class="fa fa-camera"></i>
        </div>
        <div class="col-md-4">
          <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Right Banner
          </b></h3>
        </div>
        <div class="upload-profile position-relative d-inline-block mb-4" >
          <input type="file" class="form-control position-absolute"
          ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg">
          <img src="{{imageUrl}}" id="profileImage-logo" width="150" height="150">
          <i class="fa fa-camera"></i>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Right Banner
          </b></h3>
        </div>
        <div class="upload-profile position-relative d-inline-block mb-4" >
          <input type="file" class="form-control position-absolute"
          ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg">
          <img src="{{imageUrl}}" id="profileImage-logo" width="150" height="150">
          <i class="fa fa-camera"></i>
        </div>
      </div> -->
      </div>
      </main>