<main class="col-md-10 ml-sm-auto col-lg-10 styles">

    <div class="px-4">
        <div class="row  border-bottom">
            <div class="col-md-3">
                <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
                    <b>Daily-Report</b></h3>
            </div>
            <div class="col-md-8" style="margin-top: -10px;">
                <div class="btn-group">
                    <button type="button" *ngIf="navModel.playerPlayed==1" (click)="navbar(1)"
                            class="btn btn-outline-danger fstyle" (click)="viewPlayerOnline()"
                            style="width: 180px; font-size: 17px;">
                        Player Played
                    </button>
                    <button type="button" *ngIf="navModel.playerPlayed==2" (click)="navbar(1)"
                            class="btn btn-danger fstyle"
                            style="width: 180px; font-size: 17px;">
                        Player Played
                    </button>

                    <button type="button" *ngIf="navModel.selfReport==1" (click)="navbar(2)"
                            class="btn btn-outline-danger fstyle"
                            (click)="report()" style="width: 150px; font-size: 17px;">Self Report
                    </button>
                    <button type="button" *ngIf="navModel.selfReport==2" (click)="navbar(2)"
                            class="btn btn-danger fstyle"
                            style="width: 150px; font-size: 17px;">Self Report
                    </button>
                    <button type="button" *ngIf="navModel.dailyReport==1" (click)="navbar(3)"
                    class="btn btn-outline-danger fstyle"
                    (click)="dailyreport()" style="width: 150px; font-size: 17px;">Daily Report
            </button>
            <button type="button" *ngIf="navModel.dailyReport==2" (click)="navbar(3)"
                    class="btn btn-danger fstyle"
                    style="width: 150px; font-size: 17px;">Daily Report
            </button>
            <button type="button" *ngIf="navModel.walletReport==1" (click)="navbar(4)"
            class="btn btn-outline-danger fstyle"
            (click)="Walletreport()" style="width: 150px; font-size: 17px;">Wallet Report
    </button>
    <button type="button" *ngIf="navModel.walletReport==2" (click)="navbar(4)"
            class="btn btn-danger fstyle"
            style="width: 150px; font-size: 17px;">Wallet Report
    </button>
                </div>
            </div>
        </div>
        <div class="playerPlayedForm hide">
            
            <div class="row mt-2" >
                <div class="col-md-3">
                    <input type="date" style="width: 100%;"[(ngModel)]="PlayerTodayDate"
                    [ngModelOptions]="{standalone: true}" >
                        </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger" value="Submit" (click)="viewPlayerOnlineByDate()">Submit</button>
                    </div>
                    <div class="col-md-4">

                    </div>
                <div class="col-md-4">
                <!-- <input type="text" name="search-menu" id="search-menu-1" class="form-control"
                placeholder="Search by Id/email/phone/fullName" [(ngModel)]="searchDataActivate"
                (keyup)="onSearchFilterActivate(searchDataActivate)"> -->
              </div>
            </div>
          <div class="row mt-3"  style="    margin-right: -87px;">
            <div class="col-md-12 anyClass">
            <div slimScroll size="5px" height="calc(100vh - 320px)">
            <table class="table ">
            <colgroup>
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        
            </colgroup>
            <thead>
            <th style="text-align: center;">RetailerId</th>
            <th style="text-align: center;">FirstName</th>
            <th style="text-align: center;">Email</th>
            <th style="text-align: center;">TicketBooked</th>
            <th style="text-align: center;">Claim</th>
            <th style="text-align: center;">Profit</th>
            <th style="text-align: center;">View</th>
        
            </thead>
            <tbody class="bg">
            <tr *ngFor="let u of filteredplayerOnlineList  | slice: (page2-1) * pageSize2:(page2-1) * pageSize2 + pageSize2; ">
            <td style="text-align: center;">{{u.user.userCode}}</td>
            <td style="text-align: center;">{{u.user.firstName}}{{u.user.lastName}}</td>
            <td style="text-align: center;">{{u.user.email}}</td>
            <td style="text-align: center;">{{u.reportDto.ticketBooked}}</td>
            <td style="text-align: center;">{{u.reportDto.cashAmount}}</td>
            <td style="text-align: center;">{{u.reportDto.profit}}</td>
            <td style="text-align: center;"> <a class="fa fa-eye" (click)="viewClient(u.user.id,u.user.firstName,u.user.lastName,u.user.userCode)"></a></td>
        
            </tr>
            
            </tbody>
            </table>
            </div>
            </div>
            </div>
           
            <div class="row d-flex justify-content-center mr-5 mt-2" >
              <ngb-pagination [collectionSize]="filteredplayerOnlineList.length" [(page)]="page2" [maxSize]="7"
                              [rotate]="true"
                              [pageSize]="pageSize" class="d-flex justify-content-center"
                              [boundaryLinks]="true">
              </ngb-pagination>
            </div>
            <!-- <div class="row mt-3">
                <div class="col-md-4 col-12" *ngFor= "let u of PlayerOnline">
                    <div class="card border-secondary corner-radius shadow mb-3">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">

                                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top"
                                   title="Details">
                                    <i class="fa fa-2x fa-info-circle text-orange" aria-hidden="true" (click)="viewDetails(1)"></i>

                                </a>
                                Player Played
                            </div>
                        </div>
                        <div class="card-body text-secondary">
                            <div class="row">
                                <div class="my-2 col-md-6" >
                                    <p class="card-title m-0 font-weight-normal">Retailer ID</p>
                                    <p class="card-text font-weight-bolder">{{u.RetailerId}} </p>
                                </div>
                                <div class="my-2 col-md-6">
                                    <p class="card-title m-0 font-weight-normal">Name</p>
                                    <p class="card-text font-weight-bolder">{{u.name}}</p>
                                </div>
                                <div class="my-2 col-md-12">
                                    <p class="card-title m-0 font-weight-normal">Email</p>
                                    <p class="card-text font-weight-bolder">{{u.email}}</p>
                                </div>
                                <div class="my-2 col-md-6">
                                    <p class="card-title m-0 font-weight-normal">Ticket Booked</p>
                                    <p class="card-text font-weight-bolder">{{u.TicketBooked}}</p>
                                </div>
                                <div class="my-2 col-md-6">
                                    <p class="card-title m-0 font-weight-normal">Claim</p>
                                    <p class="card-text font-weight-bolder">{{u.Claim}}</p>

                                </div>
                                <div class="my-2 col-md-6">
                                    <p class="card-title m-0 font-weight-normal">Profit</p>
                                    <p class="card-text font-weight-bolder">{{u.profit}}</p>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
        </div>
      
        <div class="selfReportForm">
            <div class="row mt-3">
                <div class="col-md-6">
                    <section class="login-form d-flex align-items-center ">

                        <div class="bg-white p-2 form-wrap shadow-lg" style=" height: 100px;width:100% ">
                            <b style="color: #933430;">Select Date</b>
                            <div class="row ml-3 mt-2">

                                <label><b>To:</b></label>&nbsp;&nbsp;
                                <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="ToDate"
                                       [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-1">
                    <input type="button" class="btn btn-danger" value="Submit"
                           style="margin-left: 13px;margin-top: 33px;">
                </div>

            </div>

            <div class="row mt-2" style="position: absolute;left: 86%;">
                <input type="button" class="btn btn-danger" value="Print Details" >
            </div>
            <div class="row mt-5">

                <div class="col-12 anyClass">
                    <div class="open-tabs" id="">
                        <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
                            <div class="row mt-3">

                                <div class="col-md-3">
                                    <b> Date Of Report:</b>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-3">
                                    <b>Name:</b>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                            --------------------------------------------------------------------------------------------------------------------------------------------------------------
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <b>Ticket Booked:</b>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    <b>Claim:</b>
                                </div>
                                <div class="col-md-3">
                                </div>



                            </div>
                            --------------------------------------------------------------------------------------------------------------------------------------------------------------
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <b>Pay To Company:</b>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    <b>Profit:</b>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                            --------------------------------------------------------------------------------------------------------------------------------------------------------------

                            <div class="row mt-3">

                                <div class="col-md-3">
                                    <b>Cash Amount:</b>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    <b>WalletRecharge:</b>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>

                            --------------------------------------------------------------------------------------------------------------------------------------------------------------


                            <div class="row mt-3">
                                <b>Wallet Recharges</b>
                                <table class="table">
                                    <colgroup>
                                        <col width="20%">
                                        <col width="10%">

                                    </colgroup>
                                    <thead>
                                    <th>
                                        Date/Time
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    </thead>

                                    <!--<tr *ngFor= "let u of this.dailyRecharge">-->
                                        <!--<td>{{u.date}}</td>-->
                                        <!--<td> {{u.amount}}</td>-->
                                    <!--</tr>-->


                                </table>
                            </div>

                            <div class="row mt-3">


                            </div>

                            <div class="row mt-3">

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</main>