
<main class="col-md-10 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
    <div class="row  border-bottom">
      <div class="col-md-11">
          <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
              <b>Retailer-Wallet-Transactions</b></h3>
      </div>
      <!-- <div class="col-md-1" style="margin-top: -10px;">
        <button class="btn btn-danger" value="Back" (click)="back()">Back</button>
      </div> -->
      </div>
      <div class="row mt-1 p-2 border-bottom">
        <div class="col-md-4">
          <label><b>Date:</b></label>&nbsp;&nbsp;
             <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="WalletTodayDate"
               [ngModelOptions]="{standalone: true}" style="width: 100%;">                       
      </div>
      <div class="col-md-2 mt-4">
          <input type="button" class="btn btn-danger" value="Submit" 
                  (click)="walletReportByDate()">
      </div>
        <div class="topnav">
            <a (click)="back()" >Home</a>
            <!-- <a class="active">Slots</a> -->
            
          </div>
    </div>
<div class="row mt-4">
    <div class="col-md-4">
      <label style="font-weight: 600;">Date:-{{this.date}}</label>

    </div>

<div class="col-md-4">
  <label style="font-weight: 600;">Name:-{{this.firstName}}{{this.lastName}}({{this.Code}})</label>
        
</div>
</div>
      <div class="row mt-2">

            <div class="col-md-12 anyClass">
            <div slimScroll size="5px" height="calc(100vh - 320px)">
            <table class="table ">
            <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <!-- <col width="20%"> -->

        
            </colgroup>
            <thead>
            <th style="text-align: center;">Transaction_Date</th>
            <th style="text-align: center;">Transaction_Amount</th>
            <th style="text-align: center;">Transaction_Mode</th>
            <th style="text-align: center;">Current_Balance</th>
            <!-- <th style="text-align: center;">View</th> -->

        
            </thead>
            <tbody class="bg">
            <tr *ngFor ="let u of viewdeepClientDetailsList | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
            <td style="text-align: center;">{{u.transactionDate}}</td>
            <td style="text-align: center;">{{u.transactionAmount}}</td>
            <td style="text-align: center;">{{u.transactionMode}}</td>
            <td style="text-align: center;">{{u.currentAbalance}}</td>
            <!-- <td  style="text-align: center;"><a class="fa fa-eye" (click)="slotDetails()"></a></td>         -->
            </tr>
            
            </tbody>
            </table>
            </div>
            <div class="row d-flex justify-content-center mr-5 mt-2" *ngIf="viewdeepClientDetailsList.length > 0">
              <ngb-pagination [collectionSize]="viewdeepClientDetailsList.length" [(page)]="page" [maxSize]="8"
                              [rotate]="true"
                              [pageSize]="pageSize" class="d-flex justify-content-center"
                              [boundaryLinks]="true">
              </ngb-pagination>
            </div>
            </div>
           
         


    </div>
  </div>
  </main>
