<app-header></app-header>
<app-aside></app-aside>

<main class="col-md-10 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
    <div class="row  border-bottom">
      <div class="col-md-4">
          <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
              <b>Certificate</b></h3>
      </div>
      <div class="col-md-8" style="margin-top: -10px;">
        <div class="btn-group">
          <button type="button" *ngIf="navModel.ShowTransaction==1" (click)="navbar(5)"
            class="btn btn-outline-danger fstyle" (click)="certificateOne()" style="width: 80px; font-size: 17px;">
            1
          </button>
          <button type="button" *ngIf="navModel.ShowTransaction==2" (click)="navbar(5)" class="btn btn-danger fstyle"
            style="width: 80px; font-size: 17px;">
            1
          </button>

          <button type="button" *ngIf="navModel.Credit==1" (click)="navbar(1)" class="btn btn-outline-danger fstyle"
            (click)="certificateTwo()" style="width: 80px; font-size: 17px;">2
          </button>
          <button type="button" *ngIf="navModel.Credit==2" (click)="navbar(1)" class="btn btn-danger fstyle"
            style="width: 80px; font-size: 17px;">2
          </button>
          <button type="button" *ngIf="navModel.Debit==1" (click)="navbar(2)" class="btn btn-outline-danger fstyle"
            (click)="certificateThree()" style="width: 80px; font-size: 17px;">3
          </button>
          <button type="button" *ngIf="navModel.Debit==2" (click)="navbar(2)" class="btn btn-danger fstyle"
            style="width: 80px; font-size: 17px;">3
          </button>
          <button type="button" *ngIf="navModel.BonusClaim==1" (click)="navbar(4)" class="btn btn-outline-danger fstyle"
            (click)="certificateFour()" style="width: 80px; font-size: 17px;">4
          </button>
          <button type="button" *ngIf="navModel.BonusClaim==2" (click)="navbar(4)" class="btn btn-danger fstyle"
            style="width: 80px; font-size: 17px;">4
          </button>


        </div>
      </div>
  </div>
   
    <div class="certificateOneForm">
      <div class="row mt-1">
        <div class="col-md-2">

        </div>
        <div class="col-md-9">

          <!-- style="width:800px; height:392px; padding:20px; text-align:center; border: 10px solid #787878" -->
          <div >
            <div style="width: 736px;
            height: 316px;;padding: 20px; text-align:center; border: 5px solid #787878">
              <span style="font-size:17px; font-weight:bold">DEPARTMENT OF STATE LOTTERIES</span>
              <br><br>
              <span style="font-size:17px; font-weight:bold">LUCKY FOUR WEEKLY LOTTERY SCHEME</span>
              <br><br>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Date Of Draw</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>13.05.2019 onwards</label>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Date No.</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>1 onwards</label>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Ticket Price</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>Rs. 2/- ticket</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Number Range</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>000-999</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Frequency Of Draw</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>7 Days A Week</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Draw Conducted By</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>Govt. Of India</label>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <label style="font-size:17px;font-weight:bold">Play And Draw Instructions</label>
      </div>
      <div class="row">
        <div class="col-md-12">
          1. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; The player is free to select any seven digits number between the
          range from 000-999 for one play.
          He can select as many seven digit numbers he wished of the same seven digit 
          numbers multiple times by paying
          appropriate amount as per the number of selection.

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          2. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 1st prize 1 number of seven digit from 000-999 will be drawn.
          The player who matches his selected seven digit number with the number drawn in the same order,
          will be eligible for the 1st prize
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          3. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 2nd prize 1 number of seven digit from 000-999 will be drawn.
          The player who matches his selected seven digit number with the number drawn in the same order,
          will be eligible for the 2st prize

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          4.&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 3rd Prize.100 individual and unique number of four digit from 0000 -999 will be drawn.
          The player who matches his selected four digit number with the number drawn in the same order,
          will be eligible for the 3rd prize
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          5. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          One selection is eligible for one prize whichever is higher.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          6. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          NO PRIZE WILL AWARDED FOR ANY COMBINATION LESS THAN FOUR DIGITS
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          7. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          No Trade mark sign allowed on the ticket other than that approved by the Director,Commissioner,Govt. Of India
        </div>
      </div>
    </div>
    <div class="certificateTwoForm hide">
      <div class="row mt-1">
        <div class="col-md-2">

        </div>
        <div class="col-md-9">


          <div style="width:800px; height:354px; padding:20px; text-align:center; border: 10px solid #787878">
            <div style="width: 748px;
            height: 335px; padding:20px; text-align:center; border: 5px solid #787878">
              <span style="font-size:17px; font-weight:bold">DEPARTMENT OF STATE LOTTERIES</span>
              <br><br>
              <span style="font-size:17px; font-weight:bold">LUCKY FOUR WEEKLY LOTTERY SCHEME</span>
              <br><br>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Date Of Draw</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>13.05.2019 onwards</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Date No.</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>1 onwards</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Ticket Price</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>Rs. 2/- ticket</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Number Range</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>000-999</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Frequency Of Draw</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>7 Days A Week</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Draw Conducted By</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>Govt. Of India</label>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <label style="font-size:17px;font-weight:bold">Play And Draw Instructions</label>
      </div>
      <div class="row">
        <div class="col-md-12">
          1. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; The player is free to select any seven digits number between the
          range from 000-999 for one play.
          He can select as many seven digit numbers he wished of the same seven digit 
          numbers multiple times by paying
          appropriate amount as per the number of selection.

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          2. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 1st prize 1 number of seven digit from 000-999 will be drawn.
          The player who matches his selected seven digit number with the number drawn in the same order,
          will be eligible for the 1st prize
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          3. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 2nd prize 1 number of seven digit from 000-999 will be drawn.
          The player who matches his selected seven digit number with the number drawn in the same order,
          will be eligible for the 2st prize

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          4.&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 3rd Prize.100 individual and unique number of four digit from 000 -999 will be drawn.
          The player who matches his selected four digit number with the number drawn in the same order,
          will be eligible for the 3rd prize
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          5. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          One selection is eligible for one prize whichever is higher.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          6. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          NO PRIZE WILL AWARDED FOR ANY COMBINATION LESS THAN FOUR DIGITS
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          7. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          No Trade mark sign allowed on the ticket other than that approved by the Director,Commissioner,Govt. Of India
        </div>
      </div>
    </div>
    <div class="certificateThreeForm hide">
      <div class="row mt-1">
        <div class="col-md-2">

        </div>
        <div class="col-md-9">


          <div style="width:800px; height:354px; padding:20px; text-align:center; border: 10px solid #787878">
            <div style="width: 748px;
            height: 335px; padding:20px; text-align:center; border: 5px solid #787878">
              <span style="font-size:17px; font-weight:bold">DEPARTMENT OF STATE LOTTERIES</span>
              <br><br>
              <span style="font-size:17px; font-weight:bold">LUCKY FOUR WEEKLY LOTTERY SCHEME</span>
              <br><br>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Date Of Draw</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>13.05.2019 onwards</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Date No.</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>1 onwards</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Ticket Price</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>Rs. 2/- ticket</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Number Range</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>000-999</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Frequency Of Draw</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>7 Days A Week</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Draw Conducted By</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>Govt. Of India</label>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <label style="font-size:17px;font-weight:bold">Play And Draw Instructions</label>
      </div>
      <div class="row">
        <div class="col-md-12">
          1. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; The player is free to select any seven digits number between the
          range from 000-999 for one play.
          He can select as many seven digit numbers he wished of the same seven digit 
          numbers multiple times by paying
          appropriate amount as per the number of selection.

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          2. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 1st prize 1 number of seven digit from 000-999 will be drawn.
          The player who matches his selected seven digit number with the number drawn in the same order,
          will be eligible for the 1st prize
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          3. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 2nd prize 1 number of seven digit from 000-999 will be drawn.
          The player who matches his selected seven digit number with the number drawn in the same order,
          will be eligible for the 2st prize

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          4.&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 3rd Prize.100 individual and unique number of four digit from 000 -999 will be drawn.
          The player who matches his selected four digit number with the number drawn in the same order,
          will be eligible for the 3rd prize
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          5. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          One selection is eligible for one prize whichever is higher.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          6. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          NO PRIZE WILL AWARDED FOR ANY COMBINATION LESS THAN FOUR DIGITS
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          7. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          No Trade mark sign allowed on the ticket other than that approved by the Director,Commissioner,Govt. Of India
        </div>
      </div>
    </div>
    <div class="certificateFourForm hide">
      <div class="row mt-1">
        <div class="col-md-2">

        </div>
        <div class="col-md-9">


          <div style="width:800px; height:354px; padding:20px; text-align:center; border: 10px solid #787878">
            <div style="width: 748px;
            height: 335px; padding:20px; text-align:center; border: 5px solid #787878">
              <span style="font-size:17px; font-weight:bold">DEPARTMENT OF STATE LOTTERIES</span>
              <br><br>
              <span style="font-size:17px; font-weight:bold">LUCKY FOUR WEEKLY LOTTERY SCHEME</span>
              <br><br>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Date Of Draw</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>13.05.2019 onwards</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Date No.</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>1 onwards</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Ticket Price</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>Rs. 2/- ticket</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Number Range</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>000-999</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Frequency Of Draw</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>7 Days A Week</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label style=" font-weight:bold">Draw Conducted By</label>
                </div>
                <div class="col-md-4">
                  <label>:</label>
                </div>
                <div class="col-md-4">
                  <label>Govt. Of India</label>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <label style="font-size:17px;font-weight:bold">Play And Draw Instructions</label>
      </div>
      <div class="row">
        <div class="col-md-12">
          1. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; The player is free to select any seven digits number between the
          range from 000-999 for one play.
          He can select as many seven digit numbers he wished of the same seven digit 
          numbers multiple times by paying
          appropriate amount as per the number of selection.

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          2. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 1st prize 1 number of seven digit from 000-999 will be drawn.
          The player who matches his selected seven digit number with the number drawn in the same order,
          will be eligible for the 1st prize
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          3. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 2nd prize 1 number of seven digit from 000-999 will be drawn.
          The player who matches his selected seven digit number with the number drawn in the same order,
          will be eligible for the 2st prize

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          4.&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          For 3rd Prize.100 individual and unique number of four digit from 000 -999 will be drawn.
          The player who matches his selected four digit number with the number drawn in the same order,
          will be eligible for the 3rd prize
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          5. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          One selection is eligible for one prize whichever is higher.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          6. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          NO PRIZE WILL AWARDED FOR ANY COMBINATION LESS THAN FOUR DIGITS
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          7. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          No Trade mark sign allowed on the ticket other than that approved by the Director,Commissioner,Govt. Of India
        </div>
      </div>
    </div>
  
  </div>
</main>