<div class="container-fluid">
  <div id="dash" class="main-width">
    <div class="row">
      <div class="col-6">
        <h2 class="label bold d-inline-block">DashBoard</h2>
      </div>
    </div>
  </div>

  <div class="row" style="margin-left: 40px">
    <div class="col-md-3">
      <img id="pg-dashboard" src="/assets/images/lottery-background.jpg">
      <div class="content" style="margin-left: 50px">
        <h3>
          Contact Us
        </h3>
        <h6>Drived By Innovation Powered By Technology</h6>

        <h3><b>

          <a href="http://www.google.com/">
            <button class="btn btn-primary" style="width: 300px">Google </button>
          </a>
        </b>
        </h3>
      </div>
    </div>
    <div class="col-md-3">
      <img id="pg1-dashboard" src="/assets/images/lottery-background.jpg">
      <div class="content" style="margin-left: 70px">
        <h3>
          Lottery
        </h3>
        <h6>Drived By Innovation Powered By Technology</h6>

        <a href="https://www.ixambee.com/free-mock-tests">
          <button class="btn btn-success" style="width: 300px">Mock Test</button>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <img id="pg2-dashboard" src="/assets/images/lottery-background.jpg">
      <div class="content" style="margin-left: 70px">
        <h3>
          Practice
        </h3>

        <h6>
          Master any exercise with our interactive platform

        </h6><a href="https://www.aptech-education.com/aptitude-test.aspx">
        <button class="btn btn-danger" style="width: 300px">Practice</button>
      </a>
      </div>
    </div>

  </div>
  <div class="row" style="margin-left: 40px ;margin-top: 30px">


    <div class="col-md-3" style="margin-left: 30px">

      <div class="inner-content text-center">

        <div class="c100 p25 big center">
          <span>85%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>

        <h3>
          <p>
          </p>
        </h3>

      </div>
    </div>
    <div class="col-md-3" style="margin-left: 30px">
      <div class="inner-content text-center">

        <div class="c100 p25 big center">
          <span>80%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h3>
          <p>
            Mock Test
          </p>
        </h3>


      </div>
    </div>
    <div class="col-md-3">
      <div class="inner-content text-center" style="margin-left
        : 20px">

        <div class="c100 p25 big center">
          <span>75%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h3>
          <p>Practice</p>
        </h3>
      </div>
    </div>
  </div>
</div>

