<!-- 
<div class="container-fluid">
  
  <div class="new"> 
    
      <div class="new"> 
        <form (ngSubmit)="formSubmit()">
          <div class="row ">
            <div class="col-md-12 text-md-right" *ngIf="!isEdit">
              <button class="btn btn-link" id="edit-profile" routerLink="/distributor/view-client">
                <i class="fa fa-arrow-left"></i>Back
              </button>
            </div>
          </div>
          <div class="data" *ngIf="!isEdit">
            <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">User Details</h6>

            <div class="row">
              <div class="form-label-group col-md-2">
                <label for="emp-shopName"><b>FirstName:-</b></label>
              </div>
              <div class="form-label-group col-md-4">
                <input type="text" name="first-name" class="form-control input-border " disabled id="first-name"
                  [value]="viewClientDetails.user.firstName">
              </div>
              <div class="form-label-group col-md-2">
                <label for="emp-shopName"><b>LastName:-</b></label>
              </div>
              <div class="form-label-group col-md-4">
                <input type="text" name="last-name" class="form-control input-border " disabled
                  [value]="viewClientDetails.user.lastName" id="last-name">
              </div>
            </div>
            <div class="row mt-4">
              <div class="form-label-group col-md-2">
                <label for="emp-shopName"><b>PhoneNo:-</b></label>
              </div>
              <div class="form-label-group col-md-4">
                <input type="text" name="phoneNo" class="form-control input-border " disabled
                  [value]="viewClientDetails.user.phoneNumber" id="phoneNo">
              </div>
              <div class="form-label-group col-md-2">
                <label for="emp-shopName"><b>Email:-</b></label>
              </div>
              <div class="form-label-group col-md-4">
                <input type="text" name="email" class="form-control input-border " disabled
                  [value]="viewClientDetails.user.email" id="email">
              </div>
            </div>


            <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-to mt-4"  *ngIf="viewClientDetails.permanentDetail === null">Home Address</h6>
            <div class="data " *ngIf="viewClientDetails.permanentDetail === null">
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>Address:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.address" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>City:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.city" id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>PinCode:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.pin" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>State:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.state" id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>AddressType:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.addressType" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>ShopName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.shopName" id="first-name">
                </div>
              </div>
            </div>
            <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4"  *ngIf="viewClientDetails.permanentDetail === null">Current Address</h6>
            <div class="data"  *ngIf="viewClientDetails.permanentDetail === null">
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>Address:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.address" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>City:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.city" id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>PinCode:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.pin" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>State:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.state" id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>AddressType:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.addressType" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>ShopName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.permanentDetail.shopName" id="first-name">
                </div>
              </div>
            </div>
            <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4"  *ngIf="viewClientDetails.bankDetail === null">Bank Details</h6>

            <div class="data"  *ngIf="viewClientDetails.bankDetail === null">
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>BankName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.bankDetail.bankName" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>accountNumber:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.bankDetail.accountNumber" id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>ifscCode:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.bankDetail.ifscCode" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>branchName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.bankDetail.branchName" id="first-name">
                </div>
              </div>
            </div>


            <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4"  *ngIf="viewClientDetails.kycDetail === null">KYC Details</h6>

            <div class="data" *ngIf="viewClientDetails.kycDetail === null">
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>DocumentName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.kycDetail.docName" id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>DocumentNo.:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="viewClientDetails.kycDetail.docNumber" id="first-name">
                </div>
              </div>

            </div>
          </div>
          <!-- <div class="data" *ngIf="isEdit">
            <div class="row">
              <div class="col-md-6">
                <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">User Details</h6>

              </div>
            </div>
            <div class="col-md-12 text-md-right" *ngIf="!isEdit">
              <button class="btn btn-link" id="edit-profile" (click)="isEdit = true;">
                <i class="fa fa-pencil mr-2"></i>Edit
              </button>
            </div>
            <div class="row">
              <div class="form-label-group col-md-2">
                <label for="emp-shopName"><b>FirstName:-</b></label>
              </div>
              <div class="form-label-group col-md-4">
                <input type="text" name="first-name" class="form-control input-border " id="first-name">
              </div>
              <div class="form-label-group col-md-2">
                <label for="emp-shopName"><b>LastName:-</b></label>
              </div>
              <div class="form-label-group col-md-4">
                <input type="text" name="first-name" class="form-control input-border " id="first-name">
              </div>
            </div>
            <div class="row mt-4">
              <div class="form-label-group col-md-2">
                <label for="emp-shopName"><b>PhoneNo:-</b></label>
              </div>
              <div class="form-label-group col-md-4">
                <input type="text" name="first-name" class="form-control input-border " id="first-name">
              </div>
              <div class="form-label-group col-md-2">
                <label for="emp-shopName"><b>Email:-</b></label>
              </div>
              <div class="form-label-group col-md-4">
                <input type="text" name="first-name" class="form-control input-border " id="first-name">
              </div>
            </div>


            <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-to mt-4">Home Address</h6>
            <div class="data">
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>Address:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>City:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>PinCode:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>State:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>AddressType:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>ShopName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mb-2 mt-5" id="action-row">
                  <div class="col-md-9 offset-md-3">
                    <button type="submit" (click)="addClientDetails()" class="btn btn-pill px-4 btn-success">Save Changes</button>
                  </div>
                </div>
            </div>
            <!-- <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4">Current Address</h6>
            <div class="data">
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>Address:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>City:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>PinCode:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>State:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>AddressType:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>ShopName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mb-2 mt-5" id="action-row">
                  <div class="col-md-4 offset-md-3">
                    <button type="submit" class="btn btn-pill px-4 btn-success">Save Changes</button>
                  </div>
                </div>
            </div> -->
<!-- <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4">Bank Details</h6>

            <div class="data">
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>FirstName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>LastName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>PhoneNo:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>Email:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mb-2 mt-5" id="action-row">
                  <div class="col-md-4 offset-md-3">
                    <button type="submit" (click)="addBankDetails()" class="btn btn-pill px-4 btn-success">Save Changes</button>
                  </div>
                </div>
            </div>


            <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4">KYC Details</h6>

            <div class="data">
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>DocumentName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>DocumentNo.:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mb-2 mt-5" id="action-row">
                <div class="col-md-9 offset-md-3">
                  <a href="#" class="btn btn-pill px-4 btn-outline-danger mr-2" (click)="isEdit = false">Cancel</a>
                  <button type="submit" (click)="addkycDetails()"class="btn btn-pill px-4 btn-success">Save Changes</button>
                </div>
              </div>
            </div>
          </div> -->
<!-- <div class="row mt-5">
          </div>
        </form>
      </div>
    
  </div>
</div> -->




<!-- ------------------------------------------New Design--------------------------------------------- -->
<div class="row">
  <main class="col-md-9 ml-sm-auto col-lg-10 styles">

    <div class="px-4 " >
      <h3 class="page-heading-wrap bg-white  pb-2 mb-1 border-bottom sticky-top fstyle" style="color: #933430; ">
        <b>Client Details </b></h3>

      <div class="col-md-9 mt-5" >
        <div class="form-group row">
          <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">First Name</strong></label>
          <div class="col-md-9 form-group">
            <input type="text" name="first-name" class="form-control input-border fstyle " disabled id="first-name"
              [value]="viewClientDetails.user.firstName">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Last Name</strong></label>
          <div class="col-md-9 form-group">
            <input type="text" name="last-name" class="form-control input-border fstyle " disabled
              [value]="viewClientDetails.user.lastName" id="last-name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Phone Number</strong></label>
          <div class="col-md-9 form-group">
            <input type="text" name="phoneNo" class="form-control input-border fstyle " disabled
              [value]="viewClientDetails.user.phoneNumber" id="phoneNo">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Email ID</strong></label>
          <div class="col-md-9 form-group">
            <input type="text" name="email" class="form-control input-border fstyle " disabled
              [value]="viewClientDetails.user.email" id="email">
          </div>
        </div>
        <div>
          <!-- <div class="form-group row mb-0">
        <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Permanent Address</strong></label>
        <div class="col-md-9 form-group">
          <textarea class="form-control input-border w-100 fstyle" rows="1" disabled
          [(ngModel)]="permanentAddress.address" [ngModelOptions]="{standalone: true}" placeholder="Work Address"></textarea>
        </div>
      </div> -->
          <!-- <div class="form-group row">
        <label class="col-md-3 text-md-right col-form-label"></label>
        <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border fstyle " disabled placeholder="City"
          [(ngModel)]="permanentAddress.city" [ngModelOptions]="{standalone: true}" id="first-name">
        </div>
        <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border fstyle " disabled placeholder="State"
          [(ngModel)]="permanentAddress.state" [ngModelOptions]="{standalone: true}" id="first-name">
        </div>
        <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border fstyle " disabled
          [(ngModel)]="permanentAddress.pin" [ngModelOptions]="{standalone: true}" placeholder="PinCode" id="first-name">
        </div>
      </div> -->
          <!-- <div class="form-group row">
        <label class="col-md-3 text-md-right col-form-label"></label>
        <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border fstyle " disabled
          [(ngModel)]="permanentAddress.country" [ngModelOptions]="{standalone: true}"placeholder="Country" id="first-name">
        </div> -->
          <!-- <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border " disabled
            placeholder="ShopName" id="first-name">
        </div> -->
          <!-- </div> -->

        </div>
        <!-- <div>
      <div class="form-group row mb-0">
        <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Current Address</strong></label>
        <div class="col-md-9 form-group">
          <textarea class="form-control input-border w-100 fstyle" rows="1" disabled
          [(ngModel)]="currentAddress.address" [ngModelOptions]="{standalone: true}" placeholder="Work Address"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 text-md-right col-form-label"></label>
        <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border fstyle " disabled placeholder="City"
          [(ngModel)]="currentAddress.city" [ngModelOptions]="{standalone: true}" id="first-name">
        </div>
        <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border fstyle " disabled placeholder="State"
          [(ngModel)]="currentAddress.state" [ngModelOptions]="{standalone: true}" id="first-name">
        </div>
        <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border fstyle " disabled
          [(ngModel)]="currentAddress.pin" [ngModelOptions]="{standalone: true}" placeholder="PinCode" id="first-name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 text-md-right col-form-label"></label>
        <div class="col-md-3">
          <input type="text" name="first-name" class="form-control input-border fstyle " disabled
          [(ngModel)]="currentAddress.country" [ngModelOptions]="{standalone: true}" placeholder="Country" id="first-name">
        </div>

      </div>

    </div> -->
      </div>
    </div>
  </main>
</div>