<main class="col-md-8 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
   
 
    <div class="panel panel-default " >
       
      <section class="login-form d-flex align-items-center " style=" margin-top: 16%;">
        <div class="  " style="width: 100%;">
<div class="row" >
  <div class="col-md-4">

  </div>
  <div class="col-md-2">
      <label style="font-size: 26px; font-weight: 600;">
          {{today | date:'MMM d, y'}} </label>
  </div>
  <div class="col-md-4">
      <label style="font-size: 26px; font-weight: 600;color: chocolate;">{{time}}</label>
  </div>
  <!-- <div class="col-md-2">
      <button class="btn btn-danger " style="font-size: 22px;height: 36px;" (click)="printResult()">Print
          Result</button>
  </div> -->
</div>
 </div>
      </section>


      <section class="login-form d-flex align-items-center " >
        <div class="  ">
          <div class="row" id="old" >
            <ng-container *ngIf="resultList==null;else other_content">

            </ng-container>
            <ng-template #other_content>
              <ng-container *ngFor="let u of resultList">
                <button class="btnnn " style="color: white; background: #933430; width: 70px;
                    height: 30px; font-weight: 600; font-size: 15px;">
                  <ng-container *ngIf="u.gherNo<10">0{{u.gherNo}}</ng-container>
                  <ng-container *ngIf="u.gherNo >=10">{{u.gherNo}}</ng-container>
                  <ng-container *ngIf="u.luckyNumber<10">0{{u.luckyNumber}} </ng-container>
                  <ng-container *ngIf="u.luckyNumber >=10">{{u.luckyNumber}}</ng-container>
                </button>
              </ng-container>
            </ng-template>
           

           
          </div>
        </div>
      </section>



    </div>
    <div class="row">
      <div class="row">
        <div class="upload-profile position-relative d-inline-block mb-4" >
          <img src="{{imageUrl}}" id="profileImage-logo1"
               loadClass="rounded-circle"
               class="rounded-circle" width="150" height="150">
        </div>
      </div>  
    </div>
  </div>
</main>