<!-- <div class="container-fluid"> -->
    <!-- <div class="row mt-1" style="background-color: brown ; color: cornsilk;width: 107%; height: 40px;">
        <div class="col-md-7 mt-1">
            <h4 style="margin-left: 500px;">Add Client</h4>
          </div>
        <div class="col-md-5 mt-1">
          <h5 class="label bold d-inline-block"style="margin-left: 300px;">{{userName}} {{phoneDisp}} </h5>
        </div>
      
        
      </div>
      <div class="row" style="background-color: brown ; color: cornsilk;width: 107%;">
          
          <div class="col-md-12" style="margin-left: 1080px;">      
             <h4> ({{role}})</h4>
          </div>
        </div> -->
<!-- </div>

<div class="px-4">
  <form [formGroup]="addClientForm" > -->
    <!--Address Details-->
    <!-- <div class="row my-5"> -->
      <!--<h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">Address Details</h6>-->
      <!-- <div class="col-md-12">
        <div class="row">
          <div class="form-label-group col-md-6">
            <label for="emp-shopName">FirstName</label>
            <input type="text" name="emp-shopName" id="emp-shopName" class="form-control" formControlName="firstName"
                   placeholder="FirstName">
          </div>
          <div class="form-label-group col-md-6">
            <label for="emp-address">LastName</label>
            <input type="text" name="emp-phoneNumber" id="emp-address" class="form-control" formControlName="lastName"
                   placeholder="LastName">
          </div>
          <div class="form-label-group col-md-6">
            <label for="emp-city">Email</label>
            <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="email"
                   placeholder="Email">
          </div>
          <div class="form-label-group col-md-6">
            <label for="emp-state">Phone Number</label>
            <input type="text" name="emp-phoneNumber" id="emp-state" class="form-control" formControlName="phoneNumber"
                   placeholder="Phone Number">
          </div>
          <div class="form-label-group col-md-6 mt-2">
              <label for="emp-state">Role</label>
              <select id="table-number" class="form-control select2" [(ngModel)]="roleModel.id" [ngModelOptions]="{standalone: true}" (change)= "onChange($event)"> 
                  <option  *ngFor="let c of roleList" [value]="c.value">{{c.role}}</option>
                  
                 
                </select>
              </div> -->
          <!-- <div class="form-label-group col-md-6" *ngFor="let r of role">
            <label for="emp-pincode">Role</label>
             <ngx-select [items]="r.name" class="form-control-select w-100" optionValueField="primaryKey"
                        optionTextField="roleName" placeholder="Select Role" formControlName="role">
            </ngx-select>

          </div> -->
<!--          
         </div>
      </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 col-lg-4 col-sm-4" >
            <button class="btn btn-success" type="submit" (click)="addClient()" style="margin-left: 460px;">Submit</button>
          </div>
          <div class="col-md-5 col-lg-4 col-sm-4" style="margin-left: 200px;">
              <button class="btn btn-danger"  [routerLink]="['/distributor/view-client']">Cancle</button>
            </div>
    </div>
  
  </form>
</div> -->
<!---------------------------------------New Design----------------------------------- -->
<main  class="col-md-9 ml-sm-auto col-lg-10 styles">
  <div class="row border-bottom">
    <div class="col-md-4 ">
    <h3 class=" pb-2 mb-1  sticky-top " style="color: #933430;"><b>Add Clients</b></h3>
    </div>
    <div class="col-md-5">
    
    </div>
  
    </div>
  <div class="px-4">
    <form [formGroup]="addClientForm">
      <div class="row my-5">
        <div class="col-md-12">
          <div class="row">
            <div class="form-label-group col-md-6">
              <input type="text" name="emp-firstName" id="emp-firstName" class="form-control"
                     formControlName="firstName" placeholder="First Name">
              <label for="emp-firstName">First Name</label>
              <show-errors [control]="addClientForm.controls.firstName"></show-errors>

            </div>
            <div class="form-label-group col-md-6">
              <input type="text" name="emp-phoneNumber" id="emp-address" class="form-control" formControlName="lastName"
              placeholder="LastName">
              <label for="emp-lastName">Last Name</label>
              <show-errors [control]="addClientForm.controls.lastName"></show-errors>

            </div>
            <div class="form-label-group col-md-6">
              <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="email"
              placeholder="Email">
              <label for="emp-id">Email</label>
              <show-errors [control]="addClientForm.controls.email"></show-errors>

            </div>

            <div class="form-label-group col-md-6">
              <input type="text" name="emp-phoneNumber" id="emp-state" class="form-control" formControlName="phoneNumber"
                   placeholder="Phone Number">
              <label for="emp-mail">Phone No.</label>
              <show-errors [control]="addClientForm.controls.phoneNumber"></show-errors>


            </div>
            <div class="form-label-group col-md-6 " *ngIf="id ==1">
              <select id="table-number" class="form-control select2" [(ngModel)]="roleModel.id" [ngModelOptions]="{standalone: true}" (change)= "onChange($event)"> 
                <option  *ngFor="let c of roleList" [value]="c.value">{{c.role}}</option>
                
               
              </select>
              <label for="emp-phoneNumber">Role</label>

            </div>
            <div class="form-label-group col-md-6"*ngIf="id ==3 ">
              <select id="table-number" class="form-control select2" [(ngModel)]="roleModel.id" [ngModelOptions]="{standalone: true}" (change)= "onChange($event)"> 
                <option  *ngFor="let c of roleList3" [value]="c.value">{{c.role}}</option>
                
               
              </select>
              <label for="emp-phoneNumber">Role</label>

            </div>
            <div class="form-label-group col-md-6" *ngIf="id ==2 ">
              <select id="table-number" class="form-control select2" [(ngModel)]="roleModel.id" [ngModelOptions]="{standalone: true}" (change)= "onChange($event)"> 
                <option  *ngFor="let c of roleList2" [value]="c.value">{{c.role}}</option>
              </select>
              <label for="emp-phoneNumber">Role</label>
            </div>
            <div class="form-label-group col-md-6">
              <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="shopName"
              placeholder="Email">
              <label for="emp-id">ShopName</label>

            </div>
            <div class="form-label-group col-md-6">
              <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="shopAddress"
              placeholder="Email">
              <label for="emp-id">Shop Address</label>

            </div>
            <div class="form-label-group col-md-6">
              <input type="number" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="pinCode"
              placeholder="Email">
              <label for="emp-id">PinCode</label>

            </div>
            <div class="form-label-group col-md-6">
              <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="city"
              placeholder="Email">
              <label for="emp-id">City</label>

            </div>
            <div class="form-label-group col-md-6">
              <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="state"
              placeholder="Email">
              <label for="emp-id">State</label>

            </div>
            <div class="col-md-12 mt-3">
              <button class="btn btn-danger" (click)="addClient()" [(disabled)]="isDisabled">Submit</button>
              <button class="btn btn-secondary ml-4"  [routerLink]="['/distributor/view-client']">Cancel</button>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
