.hide{
  display: none;
}
.styles{
  top: 75px;
  position: absolute;
  left:140px;
}
.left{
  margin-left: 100px;
}
.anyClass{
  overflow: hidden;
  overflow-x: hidden;
  height: 450px;
  width: 672px;
}
.pagination .page-item .page-link {
  color:#933430;;
}
.pagination .page-item .page-link {
  color: #933430;
}