

<!--------------------------------------  New Design ----------------------------------------------->
<main  class="col-md-9 ml-sm-auto col-lg-10 styles">
  <div class="row border-bottom">
    <div class="col-md-4 ">
    <h3 class=" pb-2 mb-1  sticky-top " style="color: #933430;"><b>Deactivated-Clients</b></h3>
    </div>
    <div class="col-md-5">
      <div class="btn-group" >
        <button type="button" class="btn btn-outline-danger" (click)="openActivatedClient()"
          style="width: 150px">Activated
        </button>
        <button type="button" class="btn btn-outline-danger active" (click)="openDeactivatedClient()" style="width: 150px">
          Deactivated
        </button>
      </div>
    </div>
    <div class=" text-right left">
    <a href="javascript:void(0);" class="btn btn-danger mb-3" (click)="openAddClient()">
    Create Clients
    </a>
    </div>
    <!-- <div class="mt-4 text-right">
    <a href="javascript:void(0)" class="btn xen-btn filled" (click)="openAddClient()">
    <img src="assets/icons/add-team-member.png" class="img-fluid" width="23px" style=" margin-left: 547px;">
    </a>
    </div> -->
    </div>

<div class="px-4 activated-Form">
  <form>
    <div class="px-4">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
             aria-labelledby="pills-activated-employee-tab">
          <div class="row">
            
          </div>
          <div class="row" *ngIf="allClients.length > 0">
            <div class="col-md-12 anyClass">
              <div slimScroll size="5px" height="calc(100vh - 320px)">
                <table class="table">
                  <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
    
                  </colgroup>
                  <thead>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone no.</th>
                    <th>Role</th>
                     <th>View</th> 
                     <th>Action</th>
                  </thead>
                  <tbody class="bg">
                    <tr *ngFor="let u of allInActiveClients | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
                      <td >{{u.firstName}}</td>
                      <td >{{u.lastName}}</td>
                      <td >{{u.email}}</td>
                      <td >{{u.phoneNumber}}</td>
                      <td >{{u.roleMaster.name}}</td>
    
                      <td ><a class="fa fa-eye" routerLink="/distributor/view-client-details"></a>
    
                      </td>
    
                      <td ><a class="fa fa-pencil" (click)="activeClient(u.id)"></a>
    
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="allClients.length == 0">
            No records found
          </div>
          <div class="row d-flex justify-content-center mr-5 mt-5" *ngIf="allInActiveClients.length > 0">
            <ngb-pagination [collectionSize]="allInActiveClients.length" [(page)]="page" [maxSize]="10"
                            [rotate]="true"
                            [pageSize]="pageSize" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
        
      </div>
    </div>
  </form>
</div>


</main>

<app-wallet-modal #licenseModal>
<div class='app-wallet-modal-body'>
  <div class="modal-header" style="background-color: #F7D488;">
    <h5 class="modal-title" style="color:#dc3545; text-align: center">License</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="licenseModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-12">
        <form [formGroup]="licenseForm">
          <div class="row mt-3">
            <div class="col-md-4">
              <label>License Number:-</label>
            </div>
            <div class="col-md-6 ">

              <input type="text" name="amount" id="comment" class="form-control" placeholder="License Number">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label>Machine Number:-</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="amount" id="comment" class="form-control" placeholder="Machine No." >
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label>Start Date:-</label>
            </div>
            <div class="col-md-6">
              <input type="Date" name="amount" id="comment" class="form-control" formControlName="fromDate" >
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label>End Date:-</label>
            </div>
            <div class="col-md-6">
              <input type="Date" name="amount" id="comment" class="form-control" formControlName="toDate">
            </div>
          </div>
          <div class="modal-footer mt-4" style="background-color: #F7D488;">
            <button type="button" class="btn btn-warning" style="margin-right: 355px; width: 146px;" (click)="machineReset()">Machine
              Reset</button>
            <button type="button" class="btn btn-danger" (click)="licenseRenewal()">Update</button>
            <button type="button" class="btn btn-secondary" (click)="walletModal.hide()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</app-wallet-modal>


<app-wallet-modal #walletModal>
<div class='app-wallet-modal-body'>
  <div class="modal-header" style="background-color: #F7D488;">
    <h5 class="modal-title" style="color:#dc3545; text-align: center">Add Money Wallet</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="walletModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-7">
        <input type="text" name="amount" id="amount" class="form-control"
          placeholder="Enter Amount to be Added in Wallet">
      </div>
      <form class="form-group col-12">
        <h3 style="color:#282a3c; margin-top: 20px">Select Mode Of Payment</h3>
        <div class="row mt-3">
          <div class="col-md-4 ">
            <input type="checkbox" name="" value="1" (click)="openCash()"> Cash
          </div>

          <div class="col-md-4">
            <input type="checkbox" name="" value="2" (click)="openNeft()"> NEFT(RTGS/IMPS)

          </div>
          <div class="col-md-4">
            <input type="checkbox" name="" value="3" (click)="opencheque()"> Cheque
            Cheque
          </div>
        </div>
        <div class="cash">
          <div class="row comment mt-3">
            <div class="col-md-5">

              <input type="text" name="amount" id="name" class="form-control" placeholder="Name of Payee">
            </div>
            <div class="col-md-5">
              <input type="number" name="amount" id="phoneNo" class="form-control" placeholder="Phone No.">
            </div>
          </div>
          <div class="row comment mt-2 ">
            <div class="col-md-10">
              <input type="text" name="amount" id="comment" class="form-control" placeholder="Any Comment ?"
                style=" height:85px">
            </div>
          </div>
        </div>
        <div class="neft hide">
          <div class="row mt-3">
            <div class="col-md-5">
              <input type="number" name="amount" id="transactionNo" class="form-control"
                placeholder="Transaction Number">
            </div>
          </div>
          <div class="row comment mt-2 ">
            <div class="col-md-10">
              <input type="text" name="amount" id="comment" class="form-control" placeholder="Any Comment ?"
                style=" height:85px">
            </div>
          </div>
        </div>
        <div class="cheque hide">
          <div class="row comment mt-3">
            <div class="col-md-5">

              <input type="text" name="amount" id="BankName" class="form-control" placeholder="Bank Name">
            </div>
            <div class="col-md-5">
              <input type="number" name="amount" id="ChequeNo" class="form-control" placeholder="Cheque No.">
            </div>
          </div>
          <div class="row comment mt-2 ">
            <div class="col-md-10">
              <input type="text" name="amount" id="comment" class="form-control" placeholder="Any Comment ?"
                style=" height:85px">
            </div>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #F7D488;">
          <button type="button" class="btn btn-danger">Save</button>
          <button type="button" class="btn btn-secondary" (click)="walletModal.hide()">Close</button>
        </div>
      </form>
    </div>
  </div>

</div>



</app-wallet-modal>