
<main class="col-md-10 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
    <div class="row  border-bottom">
      <div class="col-md-11">
          <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
              <b>Clients-All-Transaction-Report</b></h3>
      </div>
      <!-- <div class="col-md-1" style="margin-top: -10px;">
        <button class="btn btn-danger" value="Back" (click)="back()">Back</button>
      </div> -->
      </div>
      <div class="row mt-1 p-2 border-bottom">
        <div class="col-md-4">

        </div>
        <div class="topnav">
            <a (click)="back()" >Home</a>
            <a class="active">Slots</a>
            
          </div>
    </div>
<div class="row mt-4">
    <div class="col-md-4">
      <label style="font-weight: 600;">Date:-{{this.date}}</label>

    </div>

<div class="col-md-4">
  <label style="font-weight: 600;">Name:-{{this.firstName}}{{this.lastName}}({{this.Code}})</label>
        
</div>
</div>
      <div class="row mt-2">

            <div class="col-md-12 anyClass">
            <div slimScroll size="5px" height="calc(100vh - 320px)">
            <table class="table ">
            <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">

        
            </colgroup>
            <thead>
            <th style="text-align: center;">BookingDate</th>
            <th style="text-align: center;">Slot Time</th>
            <th style="text-align: center;">TotalPrice</th>
            <th style="text-align: center;">winningPrice</th>
            <th style="text-align: center;">View</th>

        
            </thead>
            <tbody class="bg">
            <tr *ngFor ="let u of viewdeepClientDetailsList | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
            <td style="text-align: center;">{{u.bookingDate}}</td>
            <td style="text-align: center;">{{u.drawTimeAm}}</td>
            <td style="text-align: center;">{{u.totalPrice}}</td>
            <td style="text-align: center;">{{u.winningPrice}}</td>
            <td  style="text-align: center;"><a class="fa fa-eye" (click)="slotDetails(u.slotId,u.bookingDate,u.drawTimeAm,u.retailerID)"></a></td>        
            </tr>
            
            </tbody>
            </table>
            </div>
            <div class="row d-flex justify-content-center mr-5 mt-2" *ngIf="viewdeepClientDetailsList.length > 0">
              <ngb-pagination [collectionSize]="viewdeepClientDetailsList.length" [(page)]="page" [maxSize]="8"
                              [rotate]="true"
                              [pageSize]="pageSize" class="d-flex justify-content-center"
                              [boundaryLinks]="true">
              </ngb-pagination>
            </div>
            </div>
           
         


    </div>
  </div>
  </main>
