.style {

    margin-top: 20px;
    width: 59px;
    margin-left: 4px;
  }
  
  .style2 {
  
    margin-top: 20px;
    width: 60px;
    margin-left: 12px;
  }
  .styles{
    top: 75px;
    position: absolute;
    left:140px;
  }
  
  .new1 {
    margin-left: -36px;
  }
  
  div.scrollmenu {
    background-color:white;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  
  // .active, .btn:hover {
  //   background-color: #666;
  //   color: white;
  // }
  
  .newdesign {
    width: 1140px;
    margin-left: -2px;
    margin-top: 50px;
    background-color: white;
    height: 386px;
  }
  .design{
    width: 52px;
    padding-left: 2px;
    margin-top: 10px;
  }
  .design2{
    margin-left: 10px;
    width: 52px;
    padding-left: 2px;
    margin-top: 10px;
  }
  .font{
    font-size: 17px;
  }
  .hide{
    display: none;
  }
  .search-container {
    float: right;
    margin-top: 57px;
  }
  
  // .btnn {
  //   border: none;
  //   outline: none;
  //   padding: 10px 16px;
  //   background-color: #f1f1f1;
  //   cursor: pointer;
  //   font-size: 18px;
  //   border: 1px ;
  // }
  
  /* Style the active class, and buttons on mouse-over */
  // .active, .btnn:hover {
  //   background-color: #666;
  //   color: white;
  // }
  
  #advance {
    display: inline-block;
  
  
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    padding: 0.375rem 0.50rem;
    font-size: 1rem;
    line-height: 0.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn{
    padding: 0.1rem 0.75rem;
  }
  
  // .bak{
  //   background-color: red;
  //   color: #fff;
  //   font-weight: bold;
  // }
  // .child{
  // background-color: #ddd;
  // cursor: pointer;
  // line-height: 150px;
  // width: 200px;
  // height: 150px;
  // border: 1px solid #000;
  // float: left;
  // }