<main class="col-md-10 ml-sm-auto col-lg-10 styles">

  <div class="px-4">
      <div class="row  border-bottom">
          <div class="col-md-3">
              <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
                  <b>Daily-Report</b></h3>
          </div>
          <div class="col-md-8" style="margin-top: -10px;">
              <div class="btn-group">
                  <button type="button" *ngIf="navModel.playerPlayed==1" (click)="navbar(1)"
                          class="btn btn-outline-danger fstyle" (click)="viewPlayerOnline()"
                          style="width: 180px; font-size: 17px;">
                      Player Played
                  </button>
                  <button type="button" *ngIf="navModel.playerPlayed==2" (click)="navbar(1)"
                          class="btn btn-danger fstyle"
                          style="width: 180px; font-size: 17px;">
                      Player Played
                  </button>

                  <button type="button" *ngIf="navModel.selfReport==1" (click)="navbar(2)"
                          class="btn btn-outline-danger fstyle"
                          (click)="report()" style="width: 150px; font-size: 17px;">Self Report
                  </button>
                  <button type="button" *ngIf="navModel.selfReport==2" (click)="navbar(2)"
                          class="btn btn-danger fstyle"
                          style="width: 150px; font-size: 17px;">Self Report
                  </button>
                  <button type="button" *ngIf="navModel.dailyReport==1" (click)="navbar(3)"
                  class="btn btn-outline-danger fstyle"
                  (click)="dailyreport()" style="width: 150px; font-size: 17px;">Daily Report
          </button>
          <button type="button" *ngIf="navModel.dailyReport==2" (click)="navbar(3)"
                  class="btn btn-danger fstyle"
                  style="width: 150px; font-size: 17px;">Daily Report
          </button>
          <button type="button" *ngIf="navModel.walletReport==1" (click)="navbar(4)"
          class="btn btn-outline-danger fstyle"
          (click)="Walletreport()" style="width: 150px; font-size: 17px;">Wallet Report
  </button>
  <button type="button" *ngIf="navModel.walletReport==2" (click)="navbar(4)"
          class="btn btn-danger fstyle"
          style="width: 150px; font-size: 17px;">Wallet Report
  </button>
              </div>
          </div>
      </div>
      
    
      <div class="selfReportForm">
          <div class="row mt-3">
              <div class="col-md-6">
                  <section class="login-form d-flex align-items-center ">

                      <div class="bg-white p-2 form-wrap shadow-lg" style=" height: 100px;width:100% ">
                          <b style="color: #933430;">Select Date</b>
                          <div class="row ml-3 mt-2">

                              <label><b>To:</b></label>&nbsp;&nbsp;
                              <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="ToDate"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                      </div>
                  </section>
              </div>
              <div class="col-md-1">
                  <input type="button" class="btn btn-danger" value="Submit" (click)="getDetails()"
                         style="margin-left: 13px;margin-top: 33px;">
              </div>

          </div>

          <div class="row mt-2" style="position: absolute;left: 86%;">
              <input type="button" class="btn btn-danger" value="Print Details" >
          </div>
          <div class="row mt-5">

            <div class="col-12 anyClass">
                <div class="open-tabs" id="">
                  <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
               
                <div class="row mt-3">
        
                 <div class="col-md-3">
                   <b> Date Of Report:</b>
                 </div>
                 <div class="col-md-3">
                  {{this.reportDate}}
                 </div>
                  <div class="col-md-3">
                  <b>Name:</b>
                  </div> 
                <div class="col-md-3">
                  {{this.name}}
                </div>
               </div>
               --------------------------------------------------------------------------------------------------------------------------------------------------------------
               <div class="row mt-3">
                 
                <div class="col-md-3">
                  <b> Wallet Opening Balance:</b>
                </div>
                <div class="col-md-3">
                {{this.openingBalance}}
                </div>
                <div class="col-md-3">
                  <b>WalletRecharge:</b>
                 </div>
                 <div class="col-md-3">
                   {{this.totalWalletRecharge}}
                 </div>          
              </div>
              --------------------------------------------------------------------------------------------------------------------------------------------------------------
              <div class="row mt-3">
                <div class="col-md-3">
                  <b>Ticket Booked:</b>
                </div>
                <div class="col-md-3">
                {{this.ticketBooked}}
                </div>
                <div class="col-md-3">
                  <b>Claim Settelment:</b>
                </div>
                <div class="col-md-3">
                {{this.claimAmount}}
                </div>
              </div>
             --------------------------------------------------------------------------------------------------------------------------------------------------------------
        
             <div class="row mt-3">
              <div class="col-md-3">
                <b>Profit:</b>
              </div>
              <div class="col-md-3">
              {{this.profit}}
              </div>
              <div class="col-md-3">
               <b>Cash Amount:</b>
             </div>
             <div class="col-md-3">
              {{cashInDrawer}}
             </div>
            </div>
            
            --------------------------------------------------------------------------------------------------------------------------------------------------------------
            
            <div class="row mt-3">
              
              <div class="col-md-3">
                <b>Wallet Closing Balance:</b>
              </div>
              <div class="col-md-3">
               {{this.closingBalance}}
              </div>
             <div class="col-md-3">
              <b *ngIf = "this.payToCompany < 0">Take  From Company:</b>
              <b *ngIf = "this.payToCompany > 0">Give To Company:</b>
            </div>
            <div class="col-md-3" *ngIf = "this.payToCompany < 0">
            {{this.payToCompany * (-1)}}
            </div>
            <div class="col-md-3" *ngIf = "this.payToCompany > 0">
              {{this.payToCompany}}
              </div>
             
           
            </div>
            
            --------------------------------------------------------------------------------------------------------------------------------------------------------------
            
             <div class="row mt-3">
             <b>Wallet Recharges</b>
              <table class="table">
                <colgroup>
                  <col width="20%">
                  <col width="10%">        
        
                </colgroup>
                <thead>
                  <th>
                 Date/Time
                  </th>
                   <th>
                 Amount
                  </th>
                </thead>
               
                <tr *ngFor= "let u of this.dailyRecharge">
                <td>{{u.date}}</td>
                <td> {{u.amount}}</td>
                </tr>
               
        
              </table>
            </div>
            
                  </div>
                </div>
              </div>


          </div>
      </div>

  </div>
</main>