<div class="dailyReport-Form">

<main class="col-md-10 ml-sm-auto col-lg-10 styles">

  <div class="px-4">
      <div class="row  border-bottom">
          <div class="col-md-3">
              <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
                  <b>Daily-Report</b></h3>
          </div>
          <div class="col-md-8" style="margin-top: -10px;">
              <div class="btn-group">
                  <button type="button" *ngIf="navModel.playerPlayed==1" (click)="navbar(1)"
                          class="btn btn-outline-danger fstyle" (click)="viewPlayerOnline()"
                          style="width: 180px; font-size: 17px;">
                      Player Played
                  </button>
                  <button type="button" *ngIf="navModel.playerPlayed==2" (click)="navbar(1)"
                          class="btn btn-danger fstyle"
                          style="width: 180px; font-size: 17px;">
                      Player Played
                  </button>

                  <button type="button" *ngIf="navModel.selfReport==1" (click)="navbar(2)"
                          class="btn btn-outline-danger fstyle"
                          (click)="report()" style="width: 150px; font-size: 17px;">Self Report
                  </button>
                  <button type="button" *ngIf="navModel.selfReport==2" (click)="navbar(2)"
                          class="btn btn-danger fstyle"
                          style="width: 150px; font-size: 17px;">Self Report
                  </button>
                  <button type="button" *ngIf="navModel.dailyReport==1" (click)="navbar(3)"
                  class="btn btn-outline-danger fstyle"
                  (click)="Dailyreport()" style="width: 150px; font-size: 17px;">Daily Report
          </button>
          <button type="button" *ngIf="navModel.dailyReport==2" (click)="navbar(3)"
                  class="btn btn-danger fstyle"
                  style="width: 150px; font-size: 17px;">Daily Report
          </button>
          <button type="button" *ngIf="navModel.walletReport==1" (click)="navbar(4)"
          class="btn btn-outline-danger fstyle"
          (click)="Walletreport()" style="width: 150px; font-size: 17px;">Wallet Report
  </button>
  <button type="button" *ngIf="navModel.walletReport==2" (click)="navbar(4)"
          class="btn btn-danger fstyle"
          style="width: 150px; font-size: 17px;">Wallet Report
  </button>
              </div>
          </div>
      </div>
    
      <div class="dailyReport">
          <div class="row mt-3" >
              <div class="col-md-4">
                  <label><b>Date:</b></label>&nbsp;&nbsp;
                     <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="TodayDate"
                       [ngModelOptions]="{standalone: true}" style="width: 100%;">                       
              </div>
              <div class="col-md-2 mt-4">
                  <input type="button" class="btn btn-danger" value="Submit" 
                          (click)="dailyReportByDate()">
              </div>
        
              <div class="col-md-6">
                  <!-- <label><b>Search:</b></label>&nbsp;&nbsp; -->
                  <!-- <input type="text" name="search-menu" id="search-menu-1" class="form-control"
                  placeholder="Search by TotalPrice/WinningPrice" [(ngModel)]="searchDataByPrice"
                  (keyup)="onSearchFilterActivate(searchDataByPrice)"> -->
              </div>
          </div>
        <div class="row mt-3"  style="margin-right: -87px;">
          <div class="col-md-12 anyClass">
          <div slimScroll size="5px" height="calc(100vh - 320px)">
          <table class="table ">
          <colgroup>
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
      
          </colgroup>
          <thead>
          <th style="text-align: center;">BookingDate</th>
          <th style="text-align: center;">Slot Time</th>
          <th style="text-align: center;">TotalPrice</th>
          <th style="text-align: center;">winningPrice</th>
          <th style="text-align: center;">View</th>

      
          </thead>
          <!-- *ngIf="id ==3 " -->
          <tbody class="bg">
          <tr *ngFor="let u of dailyReportFiltered | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;" >
          <td style="text-align: center;">{{u.bookingDate}}</td>
          <td style="text-align: center;">{{u.drawTimeAm}}</td>
          <td style="text-align: center;">{{u.totalPrice}}</td>
          <td style="text-align: center;">{{u.winningPrice}}</td>
          <td style="text-align: center;" > <a class="fa fa-eye" (click)="Distributor()"></a></td>

         
      
          </tr>
          
          </tbody>
          </table>
          </div>
          </div>
          </div>
         
          <div class="row d-flex justify-content-center mr-5 mt-2" >
            <ngb-pagination [collectionSize]="dailyReportFiltered.length" [(page)]="page" [maxSize]="7"
                            [rotate]="true"
                            [pageSize]="pageSize" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
     
      </div>
     

  </div>
</main>
</div>

<!-- -------------------------------------------------------------------------------------------------- -->

<div class="distributor-Form hide " >
    <main class="col-md-10 ml-sm-auto col-lg-10 styles">

        <div class="px-4">
            <div class="row  border-bottom">
                <div class="col-md-3">
                    <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
                        <b>Daily-Report</b></h3>
                </div>
                <div class="col-md-8" style="margin-top: -10px;">
                    <div class="btn-group">
                        <button type="button" *ngIf="navModel.playerPlayed==1" (click)="navbar(1)"
                                class="btn btn-outline-danger fstyle" (click)="viewPlayerOnline()"
                                style="width: 180px; font-size: 17px;">
                            Player Played
                        </button>
                        <button type="button" *ngIf="navModel.playerPlayed==2" (click)="navbar(1)"
                                class="btn btn-danger fstyle"
                                style="width: 180px; font-size: 17px;">
                            Player Played
                        </button>
      
                        <button type="button" *ngIf="navModel.selfReport==1" (click)="navbar(2)"
                                class="btn btn-outline-danger fstyle"
                                (click)="report()" style="width: 150px; font-size: 17px;">Self Report
                        </button>
                        <button type="button" *ngIf="navModel.selfReport==2" (click)="navbar(2)"
                                class="btn btn-danger fstyle"
                                style="width: 150px; font-size: 17px;">Self Report
                        </button>
                        <button type="button" *ngIf="navModel.dailyReport==1" (click)="navbar(3)"
                        class="btn btn-outline-danger fstyle"
                        (click)="Dailyreport()" style="width: 150px; font-size: 17px;">Daily Report
                </button>
                <button type="button" *ngIf="navModel.dailyReport==2" (click)="navbar(3)"
                        class="btn btn-danger fstyle"
                        style="width: 150px; font-size: 17px;">Daily Report
                </button>
                <button type="button" *ngIf="navModel.walletReport==1" (click)="navbar(4)"
                class="btn btn-outline-danger fstyle"
                (click)="Walletreport()" style="width: 150px; font-size: 17px;">Wallet Report
        </button>
        <button type="button" *ngIf="navModel.walletReport==2" (click)="navbar(4)"
                class="btn btn-danger fstyle"
                style="width: 150px; font-size: 17px;">Wallet Report
        </button>
                    </div>
                </div>
            </div>
          
            
            <div class="daily">
              <div class="row mt-3" >
                  <div class="col-md-4">
                      <label><b>Date:</b></label>&nbsp;&nbsp;
                         <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="TodayDate"
                           [ngModelOptions]="{standalone: true}" style="width: 100%;">                       
                  </div>
                  <div class="col-md-2 mt-4">
                      <input type="button" class="btn btn-danger" value="Submit" 
                              (click)="dailyReportByDate()">
                  </div>
            
                  <div class="col-md-6">
                      <!-- <label><b>Search:</b></label>&nbsp;&nbsp; -->
                      <!-- <input type="text" name="search-menu" id="search-menu-1" class="form-control"
                      placeholder="Search by TotalPrice/WinningPrice" [(ngModel)]="searchDataByPrice"
                      (keyup)="onSearchFilterActivate(searchDataByPrice)"> -->
                  </div>
              </div>
            <div class="row mt-3"  style="margin-right: -87px;">
              <div class="col-md-12 anyClass">
              <div slimScroll size="5px" height="calc(100vh - 320px)">
              <table class="table ">
              <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
             
          
              </colgroup>
              <thead>
              <th style="text-align: center;">BookingDate</th>
              <th style="text-align: center;">Slot Time</th>
              <th style="text-align: center;">TotalPrice</th>
              <th style="text-align: center;">winningPrice</th>
              <th style="text-align: center;">View</th>

          
              </thead>
              <tbody class="bg">
              <tr *ngFor="let u of dailyReportFiltered | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;" >
              <td style="text-align: center;">{{u.bookingDate}}</td>
              <td style="text-align: center;">{{u.drawTimeAm}}</td>
              <td style="text-align: center;">{{u.totalPrice}}</td>
              <td style="text-align: center;">{{u.winningPrice}}</td>
              <td style="text-align: center;"> <a class="fa fa-eye" (click)="subdistributor()"></a></td>

          
              </tr>
              
              </tbody>
              </table>
              </div>
              </div>
              </div>
             
              <div class="row d-flex justify-content-center mr-5 mt-2" >
                <ngb-pagination [collectionSize]="dailyReportFiltered.length" [(page)]="page" [maxSize]="7"
                                [rotate]="true"
                                [pageSize]="pageSize" class="d-flex justify-content-center"
                                [boundaryLinks]="true">
                </ngb-pagination>
              </div>
         
          </div>
      
        </div>
      </main>
</div>
<!-- -------------------------------------------------------------------------------------------------- -->

<div class="Subdistributor-Form hide " >
    <main class="col-md-10 ml-sm-auto col-lg-10 styles">

        <div class="px-4">
            <div class="row  border-bottom">
                <div class="col-md-3">
                    <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
                        <b>Daily-Report</b></h3>
                </div>
                <div class="col-md-8" style="margin-top: -10px;">
                    <div class="btn-group">
                        <button type="button" *ngIf="navModel.playerPlayed==1" (click)="navbar(1)"
                                class="btn btn-outline-danger fstyle" (click)="viewPlayerOnline()"
                                style="width: 180px; font-size: 17px;">
                            Player Played
                        </button>
                        <button type="button" *ngIf="navModel.playerPlayed==2" (click)="navbar(1)"
                                class="btn btn-danger fstyle"
                                style="width: 180px; font-size: 17px;">
                            Player Played
                        </button>
      
                        <button type="button" *ngIf="navModel.selfReport==1" (click)="navbar(2)"
                                class="btn btn-outline-danger fstyle"
                                (click)="report()" style="width: 150px; font-size: 17px;">Self Report
                        </button>
                        <button type="button" *ngIf="navModel.selfReport==2" (click)="navbar(2)"
                                class="btn btn-danger fstyle"
                                style="width: 150px; font-size: 17px;">Self Report
                        </button>
                        <button type="button" *ngIf="navModel.dailyReport==1" (click)="navbar(3)"
                        class="btn btn-outline-danger fstyle"
                        (click)="Dailyreport()" style="width: 150px; font-size: 17px;">Daily Report
                </button>
                <button type="button" *ngIf="navModel.dailyReport==2" (click)="navbar(3)"
                        class="btn btn-danger fstyle"
                        style="width: 150px; font-size: 17px;">Daily Report
                </button>
                <button type="button" *ngIf="navModel.walletReport==1" (click)="navbar(4)"
                class="btn btn-outline-danger fstyle"
                (click)="Walletreport()" style="width: 150px; font-size: 17px;">Wallet Report
        </button>
        <button type="button" *ngIf="navModel.walletReport==2" (click)="navbar(4)"
                class="btn btn-danger fstyle"
                style="width: 150px; font-size: 17px;">Wallet Report
        </button>
                    </div>
                </div>
            </div>
          
            
            <div class="daily">
              <div class="row mt-3" >
                  <div class="col-md-4">
                      <label><b>Date:</b></label>&nbsp;&nbsp;
                         <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="TodayDate"
                           [ngModelOptions]="{standalone: true}" style="width: 100%;">                       
                  </div>
                  <div class="col-md-2 mt-4">
                      <input type="button" class="btn btn-danger" value="Submit" 
                              (click)="dailyReportByDate()">
                  </div>
            
                  <div class="col-md-6">
                      <!-- <label><b>Search:</b></label>&nbsp;&nbsp; -->
                      <!-- <input type="text" name="search-menu" id="search-menu-1" class="form-control"
                      placeholder="Search by TotalPrice/WinningPrice" [(ngModel)]="searchDataByPrice"
                      (keyup)="onSearchFilterActivate(searchDataByPrice)"> -->
                  </div>
              </div>
            <div class="row mt-3"  style="margin-right: -87px;">
              <div class="col-md-12 anyClass">
              <div slimScroll size="5px" height="calc(100vh - 320px)">
              <table class="table ">
              <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
             
          
              </colgroup>
              <thead>
              <th style="text-align: center;">BookingDate</th>
              <th style="text-align: center;">Slot Time</th>
              <th style="text-align: center;">TotalPrice</th>
              <th style="text-align: center;">winningPrice</th>
             
          
              </thead>
              <tbody class="bg">
              <tr *ngFor="let u of dailyReportFiltered | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;" >
              <td style="text-align: center;">{{u.bookingDate}}</td>
              <td style="text-align: center;">{{u.drawTimeAm}}</td>
              <td style="text-align: center;">{{u.totalPrice}}</td>
              <td style="text-align: center;">{{u.winningPrice}}</td>
             
          
              </tr>
              
              </tbody>
              </table>
              </div>
              </div>
              </div>
             
              <div class="row d-flex justify-content-center mr-5 mt-2" >
                <ngb-pagination [collectionSize]="dailyReportFiltered.length" [(page)]="page" [maxSize]="7"
                                [rotate]="true"
                                [pageSize]="pageSize" class="d-flex justify-content-center"
                                [boundaryLinks]="true">
                </ngb-pagination>
              </div>
         
          </div>
      
        </div>
      </main>
</div>