
<main class="col-md-12 ml-sm-auto col-lg-12 styles" style="background: lightgrey; overflow: hidden;">
  <div class="col-md-5">
    <div id="printSectionId" style="width: 400px;margin-left: -18px;">
        <ng-container >
      <div class="row">
        <img style="height: 70px;
          margin-top: 25px;    margin-left: 17px;" src="assets/icons/logog.png">
        <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 11px; font-weight: 600;"><b
            style="font-size: 29px;">Govt of India</b><br>
          <b style="margin-left:45px; font-size: 26px;">Approved</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <b style="font-size: 23px;">Bhagyashree online software lottery</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <b style="font-size: 34px;"> Dr. Date.{{bookingDate}} </b>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <b style="font-size: 34px;"> Slot Time{{slotTime}} </b>
          </div>
        </div>
    </ng-container>
      <!-- <ng-container *ngFor="let element of ticketcount"> -->
        <div>
            <ng-container *ngFor="let u of resultPrint ">
                <button class="btnnn " style="width: 198px;
                height: 86px;
                font-weight: 600;
                font-size: 54px;;">
                  <ng-container *ngIf="u.gherNo<10">0{{u.gherNo}}</ng-container>
                  <ng-container *ngIf="u.gherNo >=10">{{u.gherNo}}</ng-container>
                  <ng-container *ngIf="u.luckyNumber<10">0{{u.luckyNumber}} </ng-container>
                  <ng-container *ngIf="u.luckyNumber >=10">{{u.luckyNumber}}</ng-container>
                </button>
              </ng-container>
        </div>
       

      <!-- </ng-container> -->
    </div>
  </div>
  <!-- <button id="cmd" (click)="captureScreen()" >print</button> -->
  <!-- <button (click)="print()">print</button> -->
  <button (click)="back()">back</button>  

</main>


