<div class="container-fluid">



  <!-------------------------------------- New Design ----------------------------------------------->
   <main class="col-md-9 ml-sm-auto col-lg-10 styles">
  <div class="row border-bottom">
  <div class="col-md-4 ">
  <h3 class=" pb-2 mb-1  sticky-top " style="color: #933430;"><b>View Clients</b></h3>
  </div>
  <div class="col-md-5">
  <div class="btn-group">
  <button type="button" class="btn btn-outline-danger active" (click)="openActivatedClient()"
  style="width: 150px">Activated
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="openDeactivatedClient()" style="width: 150px">
  Deactivated
  </button>
  </div>
  </div>
  <div class=" text-right">
  <a href="javascript:void(0);" class="btn btn-danger mb-3" (click)="openAddClient()">
  Create Clients
  </a>
  </div>
  <div class=" text-right left" *ngIf = "roleId==2 || roleId == 1" >
    <a href="javascript:void(0);" class="btn btn-danger mb-3" (click)="openChangeParent()">
    Change Parent
    </a>
    </div>
  </div>


  <div class="mt-3 activated-Form">
  <form>
  <div class="px-1">
    <div class="row mt-2" style="margin-left: 50px;">
      <div class="col-md-2">
            
      </div>
      <div class="col-md-6">
        <!-- <button (click)="exportAsXLSX()">neta<i class="fa fa-file-excel-o"
          style="font-size:48px;color:blue"></i></button> -->
      </div>
      <div class="col-md-4">
        <input type="text" name="search-menu" id="search-menu-1" class="form-control"
        placeholder="Search by Id/email/phone/fullName" [(ngModel)]="searchDataActivate"
        (keyup)="onSearchFilterActivate(searchDataActivate)">
      </div>
    
    </div>
  <div class="tab-content mt-3" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
  aria-labelledby="pills-activated-employee-tab">
  <div class="row">
  
  </div>
  <div class="row " *ngIf="allClients.length > 0" style="    margin-right: -87px;">
  <div class="col-md-12 anyClass">
  <div slimScroll size="5px" height="calc(100vh - 320px)">
  <table class="table ">
  <colgroup>
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <col width="20%">
  </colgroup>
  <thead>
  <th style="text-align: center;">FirstName</th>
  <th style="text-align: center;">LastName</th>
  <th style="text-align: center;">Email</th>
  <th style="text-align: center;">Phone no.</th>
  <th style="text-align: center;">Role</th >
  <th style="text-align: center;">View</th>
  <th style="text-align: center;">Action</th>
  <th style="text-align: center;">Wallet</th>
  <th style="text-align: center;">License</th>
  <th style="text-align: center;">Detuct</th>

  <th style="text-align: center;">Accounts</th>
  </thead>
  <tbody class="bg">
  <tr *ngFor="let u of filteredEmployeeList  | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
  <td style="text-align: center;">{{u.firstName}}</td>
  <td style="text-align: center;">{{u.lastName}}</td>
  <td style="text-align: center;">{{u.email}}</td>
  <td style="text-align: center;">{{u.phoneNumber}}</td>
  <td style="text-align: center;">{{u.roleMaster.name}}</td>
  <td style="text-align: center;" *ngIf= "u.roleMaster.id ==1 "><a class="fa fa-eye" (click)="viewAdmins(u.id,u.firstName,u.lastName)"></a></td>
  <td style="text-align: center;" *ngIf= "u.roleMaster.id ==2 "><a class="fa fa-eye" (click)="viewDistributors(u.id,u.firstName,u.lastName)"></a></td>
  <td style="text-align: center;" *ngIf= "u.roleMaster.id ==3 "><a class="fa fa-eye" (click)="viewSubDistributors(u.id,u.firstName,u.lastName)"></a></td>
  <td style="text-align: center;" *ngIf= "u.roleMaster.id ==4 "><a class="fa fa-eye" (click)="viewClient(u.id,u.firstName,u.lastName)"></a></td>

  <td style="text-align: center;"><a class="fa fa-trash" (click)="deleteClient(u.id)"></a></td>
  <td style="text-align: center;"><a><img src="assets/icons/smallwallet.png" (click)="walletOpenModal(u.id)"></a>
  </td>
  <td style="text-align: center;"><a> <img src="assets/icons/license.png"
  (click)=" licenseDetails(u.id) "></a>
  </td>
  <td style="text-align: center;"><a> <img src="assets/icons/taxes.png"
    (click)=" openDeductModal(u.id) "></a>
    </td>
  <td style="text-align: center;"><a> <img src="assets/icons/statement.png"
    (click)=" viewRetailerTransactionHistory(u.id,u.firstName,u.lastName,u.userCode) "></a>
    </td>
  </tr>
  
  </tbody>
  </table>
  </div>
  </div>
  </div>
  <div class="col-md-12" *ngIf="allClients.length == 0">
  No records found
  </div>
  <div class="row d-flex justify-content-center mr-5 mt-2" *ngIf="filteredEmployeeList.length > 0">
    <ngb-pagination [collectionSize]="filteredEmployeeList.length" [(page)]="page" [maxSize]="8"
                    [rotate]="true"
                    [pageSize]="pageSize" class="d-flex justify-content-center"
                    [boundaryLinks]="true">
    </ngb-pagination>
  </div>
  </div>
  
  </div>
  </div>
  </form>
  </div>
  <div class="px-4 mt-3 admin-Form hide">
    <form>
    <div class="px-1">
      <div class="row mt-2" style="margin-left: 50px;">
        <div class="col-md-1">
          <!-- <h5 class=""style="color: #933430;"><b>(Admin):-</b></h5>          -->
        </div>
        <div class="col-md-2">
         <!-- <a (click)="AdminPage()">
          <h5 class=""style="color: black;"><b>{{this.firstNameAd}}&nbsp;{{this.lastNameAd}}>>&nbsp;&nbsp; </b></h5>
         </a>  -->
        

        </div>
        <div class="col-md-4">
          <input type="text" name="search-menu" id="search-menu-1" class="form-control"
          placeholder="Search by Id/email/phone/fullName" [(ngModel)]="searchDataActivate"
          (keyup)="onSearchFilterActivate(searchDataActivate)">
        </div>
      
      </div>
    <div class="tab-content mt-3" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
    aria-labelledby="pills-activated-employee-tab">
    <div class="row">
    
    </div>
    <div class="row " *ngIf="viewAdminsDetails.length > 0" style="    margin-right: -87px;">
    <div class="col-md-12 anyClass">
    <div slimScroll size="5px" height="calc(100vh - 320px)">
    <table class="table ">
    <colgroup>
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="20%">
    </colgroup>
    <thead>
    <th style="text-align: center;">FirstName</th>
    <th style="text-align: center;">LastName</th>
    <th style="text-align: center;">Email</th>
    <th style="text-align: center;">Phone no.</th>
    <th style="text-align: center;">Role</th >
    <th style="text-align: center;">View</th>
    <th style="text-align: center;">Action</th>
    <th style="text-align: center;">Wallet</th>
    <th style="text-align: center;">License</th>
    <th style="text-align: center;">Detuct</th>
  
    <th style="text-align: center;">Accounts</th>
    </thead>
    <tbody class="bg">
    <tr *ngFor="let u of viewAdminsDetails  | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
    <td style="text-align: center;">{{u.firstName}}</td>
    <td style="text-align: center;">{{u.lastName}}</td>
    <td style="text-align: center;">{{u.email}}</td>
    <td style="text-align: center;">{{u.phoneNumber}}</td>
    <td style="text-align: center;">{{u.roleMaster.name}}</td>
    <td style="text-align: center;" *ngIf= "u.roleMaster.id ==1 "><a class="fa fa-eye" (click)="viewAdmins(u.id,u.firstName,u.lastName)"></a></td>
    <td style="text-align: center;" *ngIf= "u.roleMaster.id ==2 "><a class="fa fa-eye" (click)="viewDistributors(u.id,u.firstName,u.lastName)"></a></td>
    <td style="text-align: center;" *ngIf= "u.roleMaster.id ==3 "><a class="fa fa-eye" (click)="viewSubDistributors(u.id,u.firstName,u.lastName)"></a></td>
    <td style="text-align: center;" *ngIf= "u.roleMaster.id ==4 "><a class="fa fa-eye" (click)="viewClient(u.id,u.firstName,u.lastName)"></a></td>
  
    <td style="text-align: center;"><a class="fa fa-trash" (click)="deleteClient(u.id)"></a></td>
    <td style="text-align: center;"><a><img src="assets/icons/smallwallet.png" (click)="walletOpenModal(u.id)"></a>
    </td>
    <td style="text-align: center;"><a> <img src="assets/icons/license.png"
    (click)=" licenseDetails(u.id) "></a>
    </td>
    <td style="text-align: center;"><a> <img src="assets/icons/taxes.png"
      (click)=" openDeductModal(u.id) "></a>
      </td>
    <td style="text-align: center;"><a> <img src="assets/icons/statement.png"
      (click)=" viewRetailerTransactionHistory(u.id,u.firstName,u.lastName,u.userCode) "></a>
      </td>
    </tr>
    
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <div class="col-md-12" *ngIf="viewAdminsDetails.length == 0">
    No records found
    </div>
    <div class="row d-flex justify-content-center mr-5 mt-2" *ngIf="viewAdminsDetails.length > 0">
      <ngb-pagination [collectionSize]="viewAdminsDetails.length" [(page)]="page" [maxSize]="8"
                      [rotate]="true"
                      [pageSize]="pageSize" class="d-flex justify-content-center"
                      [boundaryLinks]="true">
      </ngb-pagination>
    </div>
    </div>
    
    </div>
    </div>
    </form>
    </div>
  <div class="px-4 mt-3 distributor-Form hide">
    <form>
    <div class="px-1">
      <div class="row mt-2" style="margin-left: 50px;">
        <div class="col-md-1">
          <!-- <h5 class=""style="color: #933430;"><b>(Admin):-</b></h5>          -->

        </div>
        <div class="col-md-3">
         <!-- <a (click)="AdminPage()">
          <h5 class=""style="color: black;"><b>{{this.firstNameAd}}&nbsp;{{this.lastNameAd}}>>&nbsp;&nbsp; </b></h5>
         </a>  -->

        </div>
        <div class="col-md-1">
          <h5 class=""style="color: #933430;"><b>(Dist):-</b></h5>         

        </div>
        <div class="col-md-3">
         <a>
          <h5 class=""style="color: black;"><b>{{this.firstNameA}}&nbsp;{{this.lastNameA}}>>&nbsp;&nbsp; </b></h5>
         </a> 

        </div>
        <div class="col-md-4">
          <input type="text" name="search-menu" id="search-menu-1" class="form-control"
          placeholder="Search by Id/email/phone/fullName" [(ngModel)]="searchDataActivate"
          (keyup)="onSearchFilterActivate(searchDataActivate)">
        </div>
      
      </div>
    <div class="tab-content mt-3" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
    aria-labelledby="pills-activated-employee-tab">
    <div class="row">
    
    </div>
    <div class="row " *ngIf="viewDistributorDetails.length > 0" style="    margin-right: -87px;">
    <div class="col-md-12 anyClass">
    <div slimScroll size="5px" height="calc(100vh - 320px)">
    <table class="table ">
    <colgroup>
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="20%">
    </colgroup>
    <thead>
    <th style="text-align: center;">FirstName</th>
    <th style="text-align: center;">LastName</th>
    <th style="text-align: center;">Email</th>
    <th style="text-align: center;">Phone</th>
    <th style="text-align: center;">Role</th >
    <th style="text-align: center;">View</th>
    <th style="text-align: center;">Action</th>
    <th style="text-align: center;">Wallet</th>
    <th style="text-align: center;">License</th>
    <th style="text-align: center;">Detuct</th>  
    <th style="text-align: center;">Accounts</th>
    </thead>
    <tbody class="bg">
    <tr *ngFor="let u of viewDistributorDetails  | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
    <td style="text-align: center;">{{u.firstName}}</td>
    <td style="text-align: center;">{{u.lastName}}</td>
    <td style="text-align: center;">{{u.email}}</td>
    <td style="text-align: center;">{{u.phoneNumber}}</td>
    <td style="text-align: center;">{{u.roleMaster.name}}</td>
    <td style="text-align: center;" *ngIf= "u.roleMaster.id ==1 "><a class="fa fa-eye" (click)="viewAdmins(u.id,u.firstName,u.lastName)"></a></td>
    <td style="text-align: center;" *ngIf= "u.roleMaster.id ==2 "><a class="fa fa-eye" (click)="viewDistributors(u.id,u.firstName,u.lastName)"></a></td>
    <td style="text-align: center;" *ngIf= "u.roleMaster.id ==3 "><a class="fa fa-eye" (click)="viewSubDistributors(u.id,u.firstName,u.lastName)"></a></td>
    <td style="text-align: center;" *ngIf= "u.roleMaster.id ==4 "><a class="fa fa-eye" (click)="viewClient(u.id,u.firstName,u.lastName)"></a></td>
      <td style="text-align: center;"><a class="fa fa-trash" (click)="deleteClient(u.id)"></a></td>
    <td style="text-align: center;"><a><img src="assets/icons/smallwallet.png" (click)="walletOpenModal(u.id)"></a>
    </td>
    <td style="text-align: center;"><a> <img src="assets/icons/license.png"
    (click)=" licenseDetails(u.id) "></a>
    </td>
    <td style="text-align: center;"><a> <img src="assets/icons/taxes.png"
      (click)=" openDeductModal(u.id) "></a>
      </td>
    <td style="text-align: center;"><a> <img src="assets/icons/statement.png"
      (click)=" viewRetailerTransactionHistory(u.id,u.firstName,u.lastName,u.userCode) "></a>
      </td>
    </tr>
    
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <div class="col-md-12" *ngIf="viewDistributorDetails.length == 0">
    No Retailer is Added By Him
    </div>
    <div class="row d-flex justify-content-center mr-5 mt-2" *ngIf="viewDistributorDetails.length > 0">
      <ngb-pagination [collectionSize]="viewDistributorDetails.length" [(page)]="page" [maxSize]="8"
                      [rotate]="true"
                      [pageSize]="pageSize" class="d-flex justify-content-center"
                      [boundaryLinks]="true">
      </ngb-pagination>
    </div>
    </div>
    
    </div>
    </div>
    </form>
    </div>
    <div class="px-4 mt-3 subDistributor-Form hide">
      <form>
      <div class="px-1">
        <div class="row mt-2" style="margin-left: 50px;">
          <div class="col-md-1">
            <h5 class=""style="color: #933430;"><b>(Dist):-</b></h5>         
  
          </div>
          <div class="col-md-2">
           <a (click)="DistributorPage()">
            <h5 class=""style="color: black;"><b>{{this.firstNameA}}&nbsp;{{this.lastNameA}}>>&nbsp;&nbsp; </b></h5>
           </a> 
  
          </div>
          <div class="col-md-1">
            <h5 class=""style="color: #933430;"><b>(S.Dist):-</b></h5>         
  
          </div>
          <div class="col-md-3">
           <a>
            <h5 class=""style="color: black;"><b>{{this.firstNameB}}&nbsp;{{this.lastNameB}}>>&nbsp;&nbsp; </b></h5>
           </a> 
  
          </div>
          <div class="col-md-4">
            <input type="text" name="search-menu" id="search-menu-1" class="form-control"
            placeholder="Search by Id/email/phone/fullName" [(ngModel)]="searchDataActivate"
            (keyup)="onSearchFilterActivate(searchDataActivate)">
          </div>
        
        </div>
      <div class="tab-content mt-3" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
      aria-labelledby="pills-activated-employee-tab">
      <div class="row">
      
      </div>
      <div class="row " *ngIf="viewSubDistributorDetails.length > 0" style="    margin-right: -87px;">
      <div class="col-md-12 anyClass">
      <div slimScroll size="5px" height="calc(100vh - 320px)">
      <table class="table ">
      <colgroup>
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="20%">
      </colgroup>
      <thead>
      <th style="text-align: center;">FirstName</th>
      <th style="text-align: center;">LastName</th>
      <th style="text-align: center;">Email</th>
      <th style="text-align: center;">Phone</th>
      <th style="text-align: center;">Role</th >
      <th style="text-align: center;">View</th>
      <th style="text-align: center;">Action</th>
      <th style="text-align: center;">Wallet</th>
      <th style="text-align: center;">License</th>
      <th style="text-align: center;">Detuct</th>
    
      <th style="text-align: center;">Accounts</th>
      </thead>
      <tbody class="bg">
      <tr *ngFor="let u of viewSubDistributorDetails  ">
      <td style="text-align: center;">{{u.firstName}}</td>
      <td style="text-align: center;">{{u.lastName}}</td>
      <td style="text-align: center;">{{u.email}}</td>
      <td style="text-align: center;">{{u.phoneNumber}}</td>
      <td style="text-align: center;">{{u.roleMaster.name}}</td>
      <td style="text-align: center;" *ngIf= "u.roleMaster.id ==1 "><a class="fa fa-eye" (click)="viewAdmins(u.id)"></a></td>
      <td style="text-align: center;" *ngIf= "u.roleMaster.id ==2 "><a class="fa fa-eye" (click)="viewDistributors(u.id)"></a></td>
      <td style="text-align: center;" *ngIf= "u.roleMaster.id ==3 "><a class="fa fa-eye" (click)="viewSubDistributors(u.id)"></a></td>
      <td style="text-align: center;" *ngIf= "u.roleMaster.id ==4 "><a class="fa fa-eye" (click)="viewClient(u.id)"></a></td>
          <td style="text-align: center;"><a class="fa fa-trash" (click)="deleteClient(u.id)"></a></td>
      <td style="text-align: center;"><a><img src="assets/icons/smallwallet.png" (click)="walletOpenModal(u.id)"></a>
      </td>
      <td style="text-align: center;"><a> <img src="assets/icons/license.png"
      (click)=" licenseDetails(u.id) "></a>
      </td>
      <td style="text-align: center;"><a> <img src="assets/icons/taxes.png"
        (click)=" openDeductModal(u.id) "></a>
        </td>
      <td style="text-align: center;"><a> <img src="assets/icons/statement.png"
        (click)=" viewRetailerTransactionHistory(u.id,u.firstName,u.lastName,u.userCode) "></a>
        </td>
      </tr>
      </tbody>
      </table>
      </div>
      </div>
      </div>
      <div class="col-md-12" *ngIf="viewSubDistributorDetails.length == 0">
      No Entry Is Done
      </div>
      <!-- <div class="row d-flex justify-content-center mr-5 mt-2" *ngIf="filteredEmployeeList.length > 0">
        <ngb-pagination [collectionSize]="filteredEmployeeList.length" [(page)]="page" [maxSize]="8"
                        [rotate]="true"
                        [pageSize]="pageSize" class="d-flex justify-content-center"
                        [boundaryLinks]="true">
        </ngb-pagination>
      </div> -->
      </div>
      
      </div>
      </div>
      </form>
      </div>
  </main>
  <!-- <main class="col-md-9 ml-sm-auto col-lg-10 styles">
    <div class="row border-bottom">
    <div class="col-md-4 ">
    <h3 class=" pb-2 mb-1  sticky-top " style="color: #933430;"><b>View Clients</b></h3>
    </div>
    <div class="col-md-5">
    <div class="btn-group">
    <button type="button" class="btn btn-outline-danger active" (click)="openActivatedClient()"
    style="width: 150px">Activated
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="openDeactivatedClient()" style="width: 150px">
    Deactivated
    </button>
    </div>
    </div>
    <div class=" text-right left">
    <a href="javascript:void(0);" class="btn btn-danger mb-3" (click)="openAddClient()">
    Create Clients
    </a>
    </div>
  
    </div>
  <div class="row mt-2" style="margin-left: 50px;">
    <div class="col-md-8">
  
    </div>
    <div class="col-md-4">
      <input type="text" name="search-menu" id="search-menu-1" class="form-control"
      placeholder="Search by Id/email/phone/fullName" [(ngModel)]="searchDataActivate"
      (keyup)="onSearchFilterActivate(searchDataActivate)">
    </div>
  
  </div>
  
    <div class="px-4 mt-3 activated-Form">
    <form>
    <div class="px-4">
    <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
    aria-labelledby="pills-activated-employee-tab">
    <div class="row">
    
    </div>
    <div class="row " style="    margin-right: -87px;">
    <div class="col-md-12 anyClass">
    <div slimScroll size="5px" height="calc(100vh - 320px)">
    <table class="table ">
    <colgroup>
    <col width="15%">
    <col width="15%">
    <col width="15%">
    <col width="15%">
    <col width="15%">
    <col width="15%">

    </colgroup>
    <thead>
      <th style="text-align: center;">Id</th>
    <th style="text-align: center;">FirstName</th>
    <th style="text-align: center;">LastName</th>
    <th style="text-align: center;">Email</th>
    <th style="text-align: center;">Role</th>
    <th style="text-align: center;">RoleId</th >
      <th style="text-align: center;">RoleMasterId</th >
    <th style="text-align: center;">View</th>
  
    </thead>
    <tbody class="bg">
    <tr *ngFor="let u of allClientsDetails">
      <td style="text-align: center;">{{u.id}}</td>
    <td style="text-align: center;">{{u.firstName}}</td>
    <td style="text-align: center;">{{u.lastName}}</td>
    <td style="text-align: center;">{{u.email}}</td>
    <td style="text-align: center;">{{u.role}}</td>  
    <td style="text-align: center;">{{u.roleId}}</td>
    <td style="text-align: center;">{{u.roleMasterId}}</td>

    <td style="text-align: center;" *ngIf="u.roleId != 4"><a class="fa fa-eye" (click)="viewClient(u.id)"></a></td>
   
 
    </tr>
    
    </tbody>
    </table>
    </div>
    </div>
    </div>
    
   
    </div>
    
    </div>
    </div>
    </form>
    </div>
    
    
    </main> -->
  <app-wallet-modal #licenseModal>
  <div class='app-wallet-modal-body'>
  <div class="modal-header" style="background-color: #F7D488;">
  <h5 class="modal-title" style="color:#dc3545; text-align: center">License</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="licenseModal.hide()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <div class="row">
  <div class="form-group col-12">
  <form [formGroup]="licenseForm">
  <div class="row mt-3">
  <div class="col-md-4">
  <label>License Number:-</label>
  </div>
  <div class="col-md-6 ">
  
  <input type="text" name="amount" id="comment" class="form-control " disabled
  placeholder="License Number" [(ngModel)]="userModel.licenseKey"
  [ngModelOptions]="{standalone: true}">
  </div>
  </div>
  <div class="row mt-3">
  <div class="col-md-4">
  <label>Machine Number:-</label>
  </div>
  <div class="col-md-6">
  <input type="text" name="amount" id="comment" class="form-control" placeholder="Machine No." disabled
  placeholder="Machine Number" [(ngModel)]="userModel.MachineKey"
  [ngModelOptions]="{standalone: true}">
  
  </div>
  </div>
  <div class="row mt-3">
  <div class="col-md-4">
  <label>Start Date:-</label>
  </div>
  <div class="col-md-6">
  <!-- <ng-container *ngIf="datestatus==1">
  <input type={{type}} name="amount" id="comment" class="form-control" style="width: 367px;"
  [(ngModel)]="userModel.fromDate" [ngModelOptions]="{standalone: true}" disabled>
  </ng-container> -->
  <!-- <ng-container *ngIf="datestatus==2"> -->
  <input type={{type}} name="amount" id="comment" class="form-control" style="width: 367px;"
  [(ngModel)]="userModel.fromDate" [ngModelOptions]="{standalone: true}">
  <i (click)="change()" style="position: absolute;
  left: 92%;top: 19%;">&#8964;</i>
  <!-- </ng-container> -->
  
  </div>
  </div>
  <div class="row mt-3">
  <div class="col-md-4">
  <label>End Date:-</label>
  </div>
  <div class="col-md-6">
  
  <!-- <ng-container *ngIf="datestatus==1">
  <input type={{type}} name="amount" id="comment" class="form-control" [(ngModel)]="userModel.toDate"
  [ngModelOptions]="{standalone: true}" disabled>
  </ng-container> -->
  <!-- <ng-container *ngIf="datestatus==2"> -->
  <input type={{type}} name="amount" id="comment" class="form-control" [(ngModel)]="userModel.toDate"
  [ngModelOptions]="{standalone: true}">
  <!-- </ng-container> -->
  
  
  </div>
  </div>
  <div class="row mt-3" >
  <div class="col-md-4">
  
  </div>
  <ng-container *ngIf="datestatus==1">
  <!-- <div class="col-md-2">
  <button type="button" class="btn btn-warning" (click)="sixMonths()" >6 Months</button>
  </div>
  <div class="col-md-2">
  <button type="button" class="btn btn-warning" (click)="eightMonths()" >8 Months</button>
  </div>
  <div class="col-md-2">
  <button type="button" class="btn btn-warning" (click)="twelveMonths()" >12 Months</button>
  </div> -->
  </ng-container>
  <ng-container *ngIf="datestatus==2">
  <!-- <div class="col-md-2">
  <button type="button" class="btn btn-warning" (click)="sixMonths()" >6 Months</button>
  </div> -->
  <!-- <div class="col-md-2">
  <button type="button" class="btn btn-warning" (click)="eightMonths()" >8 Months</button>
  </div>
  <div class="col-md-2">
  <button type="button" class="btn btn-warning" (click)="twelveMonths()" >12 Months</button>
  </div> -->
  </ng-container>
  </div>
  <div class="modal-footer mt-4" style="background-color: #F7D488;">
  <button type="button" class="btn btn-warning" style="margin-right: 355px; width: 146px;"
  (click)="machineReset()">Machine
  Reset</button>
  
  <button type="button" class="btn btn-danger" (click)="Update()">Update</button>
  <button type="button" class="btn btn-secondary" (click)="licenseModal.hide()">Close</button>
  </div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </app-wallet-modal>
  
  
  <app-wallet-modal #walletModal>
  
  
  <div class='app-wallet-modal-body'>
  <div class="modal-header">
  <h5 class="modal-title fstyle" style="color:#933430 ; text-align: center;font-weight: 600; font-size: 26px;">
  Add Money Wallet</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="walletModal.hide()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <div class="row">
  <div class="col-md-7">
  <input type="text" name="amount" id="amount" class="form-control"
  placeholder="Enter Amount to be Added in Wallet" [(ngModel)]="amount1">
  </div>
  
  <form class="form-group col-12">
  <h3 style="color:#282a3c; margin-top: 20px" class="fstyle">Select Mode Of Payment</h3>
  <label class="fstyle">Cash</label>
  </form>
  </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="addMoney()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="walletModal.hide()">Close</button>
  </div>
  </div>
  </app-wallet-modal>




  <app-wallet-modal #deductWalletModal>
  
  
    <div class='app-wallet-modal-body'>
    <div class="modal-header">
    <h5 class="modal-title fstyle" style="color:#933430 ; text-align: center;font-weight: 600; font-size: 26px;">
    Add Money Wallet</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="deductWalletModal.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-md-7">
    <input type="number" name="amount" id="amount" class="form-control"
    placeholder="Enter Deduction  Amount" [(ngModel)]="deductAmount">
    </div>
    
    <form class="form-group col-12">
    <h3 style="color:#282a3c; margin-top: 20px" class="fstyle">Select Mode Of Payment</h3>
    <label class="fstyle">Cash</label>
    

    </form>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deductBalance()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="deductWalletModal.hide()">Close</button>
    </div>
    </div>
    </app-wallet-modal>