
<main class="col-md-10 ml-sm-auto col-lg-10 styles">

  <div class="px-4">
    <div class="row border-bottom">
      <div class="col-md-3">

        <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Change-Parent
        </b></h3>
        </div>
        
    </div>
    
      <div class="row mt-4">
        <div class="col-md-4"*ngIf="id == 2">

        </div>
        <div class="col-md-3"*ngIf="id == 1">

        </div>
             <div class="col-md-5" style="margin-top: -10px;margin-left: -30px;"  *ngIf="id == 2">
            <div class="btn-group">
              <button type="button" *ngIf="navModel.reatiler==1" class="btn btn-outline-danger fstyle" (click)="changeRetailer()"
                (click)="navbar(1)" style="width: 210px; font-size: 17px;"> Retailer List
              </button>
              <button type="button" *ngIf="navModel.reatiler==2" class="btn btn-danger fstyle" 
                (click)="navbar(1)" style="width: 210px; font-size: 17px; "> Retailer List
              </button>
              <button type="button" *ngIf="navModel.subDistributors==1" class="btn btn-outline-danger fstyle"(click)="changeSubDistributor()"
                 (click)="navbar(2)" style="width: 260px; font-size: 17px;">
                Change Sub-Distributor Parent
              </button>
              <button type="button" *ngIf="navModel.subDistributors==2" class="btn btn-danger fstyle"
                (click)="navbar(2)" style="width: 260px; font-size: 17px;">
                Change Sub-Distributor Parent
              </button>
            
          
            </div>
        </div>
        <div class="col-md-5" style="margin-top: -10px;margin-left: -30px; "  *ngIf="id == 1">
          <div class="btn-group">
            <button type="button" *ngIf="navModel.reatiler==1" class="btn btn-outline-danger fstyle" (click)="changeRetailer()"
              (click)="navbar(1)" style="width: 180px; font-size: 17px;">Retailer List
            </button>
            <button type="button" *ngIf="navModel.reatiler==2" class="btn btn-danger fstyle" 
              (click)="navbar(1)" style="width: 180px; font-size: 17px; ">Retailer List
            </button>
            <button type="button" *ngIf="navModel.subDistributors==1" class="btn btn-outline-danger fstyle"(click)="changeSubDistributor()"
               (click)="navbar(2)" style="width: 280px; font-size: 17px;">
              Change Sub-Distributor Parent
            </button>
            <button type="button" *ngIf="navModel.subDistributors==2" class="btn btn-danger fstyle"
              (click)="navbar(2)" style="width: 280px; font-size: 17px;">
              Change Sub-Distributor Parent
            </button>
             <button type="button" *ngIf="navModel.Distributors==1 " class="btn btn-outline-danger fstyle"(click)="changeDistributor()"
              (click)="navbar(3)" style="width: 210px; font-size: 17px;">
              Change Distributor
            </button>
            <button type="button" *ngIf="navModel.Distributors==2" class="btn btn-danger fstyle" 
              (click)="navbar(3)" style="width: 210px; font-size: 17px;">
              Change Distributor
            </button>
        
          </div>
      </div>
</div>
    <div class="retailer-Form">
      <div class="px-4 mt-5">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
               aria-labelledby="pills-activated-employee-tab">
            <div class="row">
              
            </div>
            <div class="row" >
              <div class="col-md-12 anyClass">
                <div slimScroll size="5px" height="calc(100vh - 320px)">
                  <table class="table">
                    <colgroup>
                      <col width="20%">
                      <col width="15%">
                      <col width="15%">
                      <col width="15%">
                      <col width="20%">
                      <col width="15%">
                    </colgroup>
                    <thead>
                      <th style="text-align: center;">Id</th>
                      <th style="text-align: center;">Name</th>
                      <th style="text-align: center;">Role</th>                   
                      <th style="text-align: center;">Parent</th>
                      <!-- <th style="text-align: center;">change</th>
                      <th style="text-align: center;">Submit</th> -->
                    </thead>
                    <tbody class="bg">
                      <tr *ngFor= "let u of allRetailer">
                        <td style="text-align: center;">{{u.userCode}}</td>
                        <td style="text-align: center;">{{u.firstName}}{{u.lastName}} </td>
                        <td style="text-align: center;">{{u.roleMaster.name}}</td>
                        <td style="text-align: center;">{{firstName }}{{lastName}} </td>
                        <!-- <td style="text-align: center;">
                          <select [ngModel]="selectedDevice" (ngModelChange)="onChange($event)"> 
                        <option *ngFor= "let u of allSubDistributor" [value]="u.id">{{u.firstName}}{{u.lastName}}</option>
                       
                      </select></td>
                        <td style="text-align: center;"><button class="btn btn-danger"(click)="parentChange(u.id,u.firstName,u.lastName)">Submit</button></td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
          </div>
          
        </div>
      </div>
    </div>

    <div class="subDistributor-Form hide">
      <div class="px-4 mt-5">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
               aria-labelledby="pills-activated-employee-tab">
               <div class="row">
                 <!-- <div class="col-md-3">
                  <h5 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Select Sub-distributor:-
                  </b></h5>
                 </div> -->
                 <div class="col-md-10">
                  <!-- <select  [(ngModel)]="roleModel.id  " [ngModelOptions]="{standalone: true}" (change)= "onChange($event)"  >
                    <option value="volvo"*ngFor= "let u of allSubDistributor"  [value]="u.id">{{u.firstName}}{{u.lastName}}</option>
                  </select> -->
                  <!-- <select   onclick="this.value = null" [ngModel]="selectedDevice" (ngModelChange)="onChange($event)"  >
                    <option *ngFor= "let u of allSubDistributor" [ngValue]="u.id">{{u.firstName}}{{u.lastName}}</option>
                  </select> -->
                 </div>
               <!-- <div class="col-md-1">
                 <button class="btn  btn-danger" (click)="back()">back</button>
               </div> -->
               </div>
            <div class="row mt-4">
              
            </div>
            <div class="row" >
              <div class="col-md-12 anyClass">
                <div slimScroll size="5px" height="calc(100vh - 320px)">
                  <table class="table">
                    <colgroup>
                      <col width="10%">
                      <col width="10%">
                      <col width="15%">
                      <col width="15%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
      
                    </colgroup>
                    <thead>
                      <th style="text-align: center;">Id</th>
                      <th style="text-align: center;">Name</th>
                      <th style="text-align: center;">Role</th>                   
                      <th style="text-align: center;">Parent</th>
                      <th style="text-align: center;">change</th>
                      <!-- <th style="text-align: center;">Submit</th> -->
                    </thead>
                    <tbody class="bg">
                      <tr *ngFor= "let u of allSubDistributor">
                        <td style="text-align: center;">{{u.userCode}}</td>
                        <td style="text-align: center;">{{u.firstName}}{{u.lastName}} </td>
                        <td style="text-align: center;">{{u.roleMaster.name}}</td>
                        <td style="text-align: center;">{{firstName }}{{lastName}} </td>
                         <td style="text-align: center;"><a class="fa fa-eye" (click)="getRetailers(u.id,u.firstName,u.lastName)"></a></td>
                        <!-- <td style="text-align: center;"><button class="btn btn-danger">Submit</button></td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
          </div>
          
        </div>
      </div>
    </div>
    <div class="subDistributorRetailers-Form hide">
      <div class="px-4 mt-5">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
               aria-labelledby="pills-activated-employee-tab">
             <div class="row">
               <div class="col-md-4">
                <h4 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #933430;  z-index:0; "> <b>Sub-Distributor Name:-
                </b></h4>
               </div>
               <div class="col-md-6">
               <h4 style="margin-left: -63px;">
                {{this.UserfirstName}}{{this.UserlastName}}
               </h4>
               </div>
              <div class="col-md-1">
                <button class="btn  btn-danger" (click)="back()">back</button>
              </div>
             </div>
            <div class="row mt-4">
              
            </div>
            <div class="row" >
              <div class="col-md-12 anyClass">
                <div slimScroll size="5px" height="calc(100vh - 320px)">
                  <table class="table">
                    <colgroup>
                      <col width="10%">
                      <col width="10%">
                      <col width="15%">
                      <col width="15%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
      
                    </colgroup>
                    <thead>
                      <th style="text-align: center;">Id</th>
                      <th style="text-align: center;">Name</th>
                      <th style="text-align: center;">Role</th>                   
                      <th style="text-align: center;">Parent</th>
                      <th style="text-align: center;">change</th>
                      <th style="text-align: center;">Submit</th>
                    </thead>
                    <tbody class="bg">
                      <tr *ngFor= "let u of allSubDistributorRetailers">
                        <td style="text-align: center;">{{u.userCode}}</td>
                        <td style="text-align: center;">{{u.firstName}}{{u.lastName}} </td>
                        <td style="text-align: center;">{{u.roleMaster.name}}</td>
                        <td style="text-align: center;">{{firstName }}{{lastName}} </td>
                          <td style="text-align: center;">
                            <select [ngModel]="selectedDevice" (ngModelChange)="onChange($event)"> 
                          <option *ngFor= "let u of allSubDistributor" [value]="u.id">{{u.firstName}}{{u.lastName}}</option>
                         
                        </select></td>
                        <td style="text-align: center;"><button class="btn btn-danger" (click)="parentChange(u.id,u.firstName,u.lastName)">Submit</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
          </div>
          
        </div>
      </div>
    </div>
    <div class="Distributor-Form hide">
      <div class="px-4 mt-5">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
               aria-labelledby="pills-activated-employee-tab">
            <div class="row">
              
            </div>
            <div class="row" >
              <div class="col-md-12 anyClass">
                <div slimScroll size="5px" height="calc(100vh - 320px)">
                  <table class="table">
                    <colgroup>
                      <col width="10%">
                      <col width="10%">
                      <col width="15%">
                      <col width="15%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
                      <col width="10%">
      
                    </colgroup>
                    <thead>
                      <th style="text-align: center;">Id</th>
                      <th style="text-align: center;">Name</th>
                      <th style="text-align: center;">Role</th>                   
                      <th style="text-align: center;">Parent</th>
                      <th style="text-align: center;">View</th>
                      <!-- <th style="text-align: center;">Submit</th> -->
                    </thead>
                    <tbody class="bg">
                      <tr *ngFor= "let u of allDistributor">
                        <td style="text-align: center;">{{u.userCode}}</td>
                        <td style="text-align: center;">{{u.firstName}}{{u.lastName}} </td>
                        <td style="text-align: center;">{{u.roleMaster.name}}</td>
                        <td style="text-align: center;">{{firstName }}{{lastName}} </td>
                         <td style="text-align: center;"><a class="fa fa-eye" (click)="getDetails(u.id,u.firstName,u.lastName)"></a></td>
                        <!-- <td style="text-align: center;"><button class="btn btn-danger">Submit</button></td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
          </div>
          
        </div>
      </div>
    </div>

    <div class="DistributorRetailers-Form hide">
      <div class="px-4 mt-5">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
               aria-labelledby="pills-activated-employee-tab">
            <div class="row">
              
            </div>
            <div class="row" >
              <div class="col-md-12 anyClass">
                <div slimScroll size="5px" height="calc(100vh - 320px)">
                  <table class="table">
                    <colgroup>
                      <col width="10%">
                      <col width="20%">
                      <col width="15%">
                      <col width="15%">
                      <col width="10%">
  
      
                    </colgroup>
                    <thead>
                      <th style="text-align: center;">Id</th>
                      <th style="text-align: center;">Name</th>
                      <th style="text-align: center;">Role</th>                   
                      <th style="text-align: center;">Parent</th>
                      <th style="text-align: center;">Change</th>
                      <th style="text-align: center;">Submit</th>
                    </thead>
                    <tbody class="bg">
                      <tr *ngFor= "let u of allDistributorRetailers  | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
                        <td style="text-align: center;">{{u.userCode}}</td>
                        <td style="text-align: center;">{{u.firstName}} </td>
                        <td style="text-align: center;">{{u.roleMaster.name}}</td>
                        <td style="text-align: center;">{{firstName }}{{lastName}} </td>
                        <td style="text-align: center;">
                          <select [ngModel]="selectedDevice" (ngModelChange)="onChange($event)"> 
                        <option *ngFor= "let u of allDistributor" [value]="u.id">{{u.firstName}}{{u.lastName}}</option>
                       
                      </select></td>
                      <td style="text-align: center;"><button class="btn btn-danger" (click)="parentChange(u.id,u.firstName,u.lastName)">Submit</button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row d-flex justify-content-center mr-5 mt-2" *ngIf="allDistributorRetailers.length > 0">
                  <ngb-pagination [collectionSize]="allDistributorRetailers.length" [(page)]="page" [maxSize]="5"
                                  [rotate]="true"
                                  [pageSize]="pageSize" class="d-flex justify-content-center"
                                  [boundaryLinks]="true">
                  </ngb-pagination>
                </div>
              </div>
            
            </div>
          
          </div>
          
        </div>
      </div>
    </div>
  </div>
</main>